@import 'fonts.css'; /* for custom fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-body text-brand-dark-blue antialiased;
	}

	[x-cloak] {
		@apply !hidden;
	}
}

@layer components {
	.btn {
		@apply transition-colors duration-300 ease-linear;
	}

	.btn-primary {
	}
}

.testimonials-slider {
	.splide__pagination {
		@apply relative bottom-auto -ml-6 flex items-center justify-center gap-1 pt-9;

		.splide__pagination__page {
			border: 1px solid theme('colors.brand.primary');
			@apply rounded-full bg-white p-1.5 opacity-100;

			&.is-active {
				@apply scale-100 bg-brand-primary opacity-100;
			}
		}
	}
}

.stats-slider {
	.splide__pagination {
		@apply relative bottom-auto flex items-center justify-center gap-1 pt-9;

		.splide__pagination__page {
			border: 1px solid theme('colors.brand.primary');
			@apply rounded-full bg-white p-1 opacity-100;

			&.is-active {
				@apply scale-100 bg-brand-primary opacity-100;
			}
		}
	}
}

.info-slider,
.people-slider {
	.splide__pagination {
		@apply relative bottom-auto flex items-center justify-center gap-1 pt-9;

		.splide__pagination__page {
			border: 1px solid theme('colors.white');
			@apply rounded-full bg-transparent p-1.5 opacity-100;

			&.is-active {
				@apply scale-100 bg-white opacity-100;
			}
		}
	}
}

.people-slider {
	.splide__arrows {
		@apply hidden;
	}
}
