---

---
<div class="relative">
	<img src="/img/bg-about-hero.png" class="absolute top-0 inset-x-0 w-full h-[450px] sm:h-[550px] md:h-[850px] object-cover object-top" alt="">
	<div class="container h-[400px] sm:h-[550px] md:h-[850px]">
		<div class="relative w-[400px] sm:w-[450px] md:w-[500px] xl:w-[550px] 2xl:w-[650px] pt-32 2xl:pt-36 lg:pb-48 h-full">
			<img src="/img/icon-cloud.png" class="absolute -bottom-28 lg:bottom-auto top-auto lg:top-40 xl:top-36 2xl:top-32 -left-20 lg:left-0 z-10" alt="">
			<span class="text-brand-primary text-5xl xl:text-6xl 2xl:text-7xl font-header font-bold flex lg:justify-center pl-2 md:pl-10 lg:pl-0 items-end lg:items-center relative z-10  h-full pb-5 sm:pb-8 md:pb-10 lg:pb-36 2xl:pb-32">About us</span>
		</div>
	</div>
</div>
<div class="bg-white relative">
	<img src="/img/bg-services.png" class="hidden md:block absolute bottom-0 inset-x-0 object-cover object-top h-[1050px] md:h-[950px] lg:h-[1250px] xl:h-[1480px] w-full" alt="">
	<img src="/img/bg-services-mobile.png" class="block md:hidden absolute bottom-0 inset-x-0 object-cover object-top h-[1020px] sm:h-[1050px] md:h-[950px] lg:h-[1250px] xl:h-[1480px] w-full" alt="">
	<div class="container pt-36 lg:pt-16 pb-24 lg:pb-32 2xl:pb-40 2xl:px-28 relative z-10 pr-0 sm:pr-4">
		<!-- FAQ -->
		<div class="pb-16 lg:pb-24 pr-4">
			<h3 class="text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-8 sm:pb-10">Our Story</h3>
			<p class=" lg:text-lg/[30px] xl:text-xl/[35px] font-medium pb-3">iRock School of Music was founded in 2016 by father and son team, John and Josh Franklin. We believe in the power of music to unleash creativity, potential and passion in every child. Our in-school rock and pop band lessons boost confidence, encourage teamwork and give children the chance to perform skills they've learned in for their teachers, guardians and peers.</p>
			<div>
				<div class="border-b-4 border-brand-primary/30">
					<div class="flex gap-4 py-6 lg:py-8">
						<div class="flex-1 text-3xl xl:text-4xl font-bold font-header text-brand-primary">
							Misunderstood and overlooked
						</div>
						<div class="bg-brand-primary w-11 h-11 rounded-full flex justify-center items-center shrink-0">
							<svg class="rotate-90 mt-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
							</svg>
						</div>
					</div>
					<p class=" lg:text-lg/[30px] xl:text-xl/[35px] font-medium pb-7">iRock School of Music was founded in 2016 by father and son team, John and Josh Franklin. We believe in the power of music to unleash creativity, potential and passion in every child. Our in-school rock and pop band lessons boost confidence.</p>
				</div>
				<div class="border-b-4 border-brand-primary/30">
					<div class="flex gap-4 py-6 lg:py-8">
						<div class="flex-1 text-3xl xl:text-4xl font-bold font-header text-brand-primary/30">
							Boosting confidence and changing perceptions
						</div>
						<div class="bg-brand-primary/30 w-11 h-11 rounded-full flex justify-center items-center shrink-0">
							<svg class="rotate-90 mt-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
							</svg>
						</div>
					</div>
				</div>
				<div class="border-b-4 border-brand-primary/30">
					<div class="flex gap-4 py-6 lg:py-8">
						<div class="flex-1 text-3xl xl:text-4xl font-bold font-header text-brand-primary/30 shrink-0">
							When business meets musical expression
						</div>
						<div class="bg-brand-primary/30 w-11 h-11 rounded-full flex justify-center items-center">
							<svg class="rotate-90 mt-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img src="/img/our-story-image.png" class="w-full rounded-3xl" alt="">
		<div class="overflow-auto relative">
			<div class="pt-36 sm:pt-44 md:pt-16 lg:pt-24 2xl:pt-32">
				<div class="text-center pr-4">
					<h3 class="text-brand-primary text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-8">The iRock difference</h3>
					<p class="lg:text-lg/[30px] xl:text-xl/[35px] font-medium lg:pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc felis, ultrices at tortor posuere, ullamcorper aliquam diam. Pellentesque aliquam felis quis ligula porta, a vehicula eros maximus. Aenean iaculis tristique ante et porttitor. </p>
				</div>
				<div class="flex sm:justify-center items-center gap-6 pt-8 pb-10 lg:pb-14 ml-20 sm:ml-0">
					<div class="bg-brand-primary rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase shrink-0 sm:flex-shrink">
						Enrol Now
					</div>
					<div class="bg-white rounded-full text-[#7fb9f5] border border-brand-primary/30 font-bold text-xs md:text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase shrink-0 sm:flex-shrink">
						Our Coaches
					</div>
					<div class="bg-white rounded-full text-[#7fb9f5] border border-brand-primary/30 font-bold text-xs md:text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase shrink-0 sm:flex-shrink">
						Our Lessons
					</div>
				</div>
				<div class="flex flex-col md:flex-row items-center gap-6 xl:gap-10 pr-4">
					<img src="/img/our-service-image.jpg.png" class="md:w-1/2" alt="">
					<div class="md:w-1/2">
						<h4 class="text-3xl xl:text-4xl font-bold font-header pb-5">Our service</h4>
						<p class="lg:text-lg xl:text-xl/[35px] font-medium">Once established in a primary school, parents pay a monthly subscription service that includes at least 33 sessions per academic year, including three show-stopping performances at the end-of-term.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-white">
	<div class="container 2xl:px-28 pt-20 pb-28 sm:pb-32 lg:py-24">
		<div class="flex lg:divide-x-4 divide-brand-light-blue">
			<div class="w-full lg:w-1/3 px-4 xl:px-10">
				<span class="text-center text-2xl xl:text-3xl block pb-8 font-medium"><span class="block font-header text-brand-primary -tracking-[0.015em] text-4xl/[60px] xl:text-5xl/[70px] font-bold">Hundreds</span> of UK primary schools </span>
				<img src="/img/icon-bag.png" class="h-56 sm:h-52 xl:h-60 2xl:h-72 mx-auto" alt="">
			</div>
			<div class="hidden lg:block lg:w-1/3 px-4 xl:px-10">
				<span class="text-center text-2xl xl:text-3xl block pb-8 font-medium"><span class="block font-header text-brand-primary -tracking-[0.015em] text-4xl/[60px] xl:text-5xl/[70px] font-bold">Thousands </span> of iRockers </span>
				<img src="/img/icon-rockers.png" class="h-56 sm:h-52 xl:h-60 2xl:h-72 mx-auto" alt="">
			</div>
			<div class="hidden lg:block lg:w-1/3 px-4 xl:px-10">
				<span class="text-center text-2xl xl:text-3xl block pb-8 font-medium"><span class="block font-header text-brand-primary -tracking-[0.015em] text-4xl/[60px] xl:text-5xl/[70px] font-bold">99% </span> children achieve exam-free qualification </span>
				<img src="/img/icon-achievement.png" class="h-56 sm:h-52 xl:h-60 2xl:h-72 mx-auto" alt="">
			</div>
		</div>
		<div class="flex lg:hidden justify-center items-center gap-1 pt-9">
			<span class="bg-brand-primary rounded-full border border-brand-primary w-2.5 h-2.5"></span>
			<span class="rounded-full border border-brand-light-blue w-2.5 h-2.5"></span>
			<span class="rounded-full border border-brand-light-blue w-2.5 h-2.5"></span>
			<span class="rounded-full border border-brand-light-blue w-2.5 h-2.5"></span>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-instrument.png" class="hidden md:block absolute object-fill w-full -top-7 2xl:top-0 h-[900px] lg:h-[665px] xl:h-[740px] 2xl:h-[750px]" alt="">
	<img src="/img/bg-instrument-mobile.png" class="block md:hidden absolute object-fill w-full -top-7 2xl:top-0 h-[720px] sm:h-[800px]" alt="">
	<div class="container 2xl:px-28 pt-12 sm:pt-20 md:pt-36 pb-16 sm:pb-20 md:pb-24 relative z-10">
		<div class="xl:w-4/5 2xl:w-[70%]">
			<h3 class="text-white text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-8 sm:pb-10 xl:pb-12 2xl:pb-14">Choosing an Instrument</h3>
			<p class=" text-white lg:text-lg/[30px] xl:text-xl/[35px] pb-8 sm:pb-12 font-medium">iRock bands have between three and nine members and each are made up from combinations of Electric Guitars, Drums, Keyboards and Vocals.</p>
		</div>
		<div class="md:w-3/4 lg:w-full mx-auto lg:mx-0 grid grid-cols-2 lg:grid-cols-4 gap-5 md:gap-10 lg:gap-4 xl:gap-16">
			<div>
				<img src="/img/ellipse-guitar.png" class="h-40 sm:h-52 xl:h-64 2xl:h-72 mx-auto" alt="">
			</div>
			<div>
				<img src="/img/ellipse-vocals.png" class="h-40 sm:h-52 xl:h-64 2xl:h-72 mx-auto" alt="">
			</div>
			<div>
				<img src="/img/ellipse-drums.png" class="h-40 sm:h-52 xl:h-64 2xl:h-72 mx-auto" alt="">
			</div>
			<div>
				<img src="/img/ellipse-keys.png" class="h-40 sm:h-52 xl:h-64 2xl:h-72 mx-auto" alt="">
			</div>
		</div>
	</div>
</div>
<div class="bg-white">
	<div class="container pt-12 md:pt-16 lg:pt-20 xl:pt-28 2xl:pt-32 pb-16 md:pb-24 lg:pb-20 pr-0 lg:pr-4 2xl:px-28">
		<div class="flex flex-col md:flex-row gap-7 md:gap-10 lg:gap-14 xl:gap-24 pb-10 md:pb-12 xl:pb-16 mr-4">
			<div class="md:w-[45%]">
				<h3 class="font-header font-bold text-3xl xl:text-4xl">In-school band lessons that are fun, creative and affordable</h3>
			</div>
			<div class="md:w-[55%]">
				<p class="lg:text-lg xl:text-xl/[35px] font-medium">Our weekly 30-minute band sessions happen within the school day. We look after everything and even supply all of the instruments. It could not be easier. Band members are grouped by similar ages and year groups. Band sizes are capped at nine to ensure everyone receives the very best learning experience. We create an environment where every child can flourish.
				</p>
			</div>
		</div>
		<!-- slider mobile -->
		<div class="overflow-auto relative mr-4 lg:mr-0">
			<div class="flex gap-3 sm:gap-4 xl:gap-6">
				<div class="border-2 border-[#19d78c] rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-face.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Ages</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-[#19d78c]"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Reception - Year 6
						<br/>
						(Depending on the school)
					</span>
				</div>
				<div class="border-2 border-brand-primary rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-calendar.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Dates</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-brand-primary"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Sep. 01 - Jul. 31
						<br/>
						Depending on school holidays)
					</span>
				</div>
				<div class="border-2 border-brand-electric-pink rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-schedule.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Schedule</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-brand-electric-pink"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Monday - Friday
						<br/>
						(Once a week, during lessons)
					</span>
				</div>
				<div class="border-2 border-brand-dark-blue rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-people.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Band sizes</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-brand-dark-blue"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Up to 9 students per band
						<br/>
						(All similar year groups)
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-benefits.png" class="hidden md:block w-full object-fill absolute -bottom-16 inset-x-0 z-20 h-[800px] md:h-[600px] lg:h-[730px] xl:h-[800px]" alt="">
	<img src="/img/bg-benefits-mobile.png" class="block md:hidden w-full object-fill absolute -bottom-16 inset-x-0 z-20 h-[800px] md:h-[600px] lg:h-[730px] xl:h-[800px]" alt="">
	<div class="container 2xl:px-28 pb-3 md:pb-8 lg:pb-16 relative z-30">
		<div class="flex flex-col md:flex-row gap-10 lg:gap-16 items-center">
			<img src="img/benefit-image.png" class="sm:w-3/5 md:w-[45%] lg:w-1/2" alt="">
			<div class="md:w-[55%] lg:w-1/2 lg:pt-14 xl:pt-24">
				<h3 class="font-header font-bold text-3xl xl:text-4xl text-white pb-9">How children benefit from iRock</h3>
				<ul class="grid xl:grid-cols-2 gap-3 xl:gap-5 pb-6 lg:pb-8">
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Gives confidence</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Creates new friendships</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Boosts wellbeing</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Supports teamwork</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Improves memory</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Develops social skills</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Develops academic progress</span>
					</li>
				</ul>
				<a href="/" class="inline-block bg-brand-electric-pink hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase">
					Enrol now
				</a>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-get-in-touch.png" class="hidden md:block absolute top-0 inset-x-0 w-full z-10 object-fill h-[1150px] lg:h-[800px] 2xl:h-[850px]" alt="">
	<img src="/img/bg-get-in-touch-mobile.png" class="block md:hidden absolute -top-[300px] inset-x-0 w-full z-10 object-fill h-[1250px] sm:h-[1150px] object-bottom" alt="">
	<div class="container relative z-20 2xl:px-28 pb-20 lg:pb-40 pt-28 lg:pt-40">
		<img src="/img/icon-microphone.png" class="hidden lg:block absolute right-0 2xl:right-6 top-7 2xl:top-16" alt="">
		<div class="text-center">
			<h3 class="text-brand-primary text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-4 xl:pb-10">Get in touch</h3>
			<p class="text-xl font-medium">Drop us a message and one of our friendly team will be in touch</p>
		</div>
		<form class="pt-9 xl:pt-6 flex flex-col lg:flex-row gap-3 lg:gap-6 relative z-10">
			<div class="lg:w-1/2 space-y-3 lg:space-y-6">
				<div>
					<span class="font-bold text-sm pb-3">Are you a Teacher/Parent or Guardian?*</span>
					<div class="flex flex-col sm:flex-row gap-3 sm:gap-5 pt-3">
						<div>
							<input type="radio" id="teacher" name="teacher" class="hidden peer" />
							<label for="teacher" class="inline-block uppercase text-sm font-bold text-brand-primary border border-brand-light-blue rounded-full px-6 py-3 bg-white cursor-pointer peer-checked:border-white peer-checked:text-white peer-checked:bg-brand-primary hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary transition-colors duration-150 ease-linear tracking-[0.2em]">
								teacher
							</label>
						</div>
						<div>
							<input type="radio" id="parent" name="parent" class="hidden peer"  />
							<label for="parent" class="inline-block uppercase text-sm font-bold text-brand-primary border border-brand-light-blue rounded-full px-6 py-3 bg-white cursor-pointer peer-checked:border-white peer-checked:text-white peer-checked:bg-brand-primary hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary transition-colors duration-150 ease-linear tracking-[0.2em]">
								Parent or Guardian
							</label>
						</div>
					</div>
				</div>
				<input type="text" name="name" id="name" placeholder="Name" class="font-medium w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4">
				<input type="email" name="Email" id="email" placeholder="Email" class="w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4 font-medium">
			</div>
			<div class="lg:w-1/2 lg:pt-8">
				<textarea name="message" id="message" placeholder="Message" class="font-medium w-full block sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4 h-56"></textarea>
				<button class="mt-6 inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
					Send Message
				</button>
			</div>
		</form>
	</div>
</div>