---

---

<div class='relative overflow-hidden'>
	<img
		src='/img/home-hero-image.png'
		class='absolute inset-x-0 top-0 h-full w-full object-cover object-[10%_50%] sm:object-[50%_50%] xl:h-[105%]'
		alt=''
	/>
	<div
		class='absolute left-1/2 top-[100px] mx-auto h-full w-[800px] -translate-x-1/2 bg-[radial-gradient(46.29%_46.29%_at_50.03%_49.27%,rgba(0,0,0,0.8)_0%,rgba(0,0,0,0)_100%)] sm:top-[75px] sm:w-[900px] md:w-full xl:top-[250px] xl:w-5/6 2xl:top-[300px] 2xl:w-3/4'>
	</div>
	<div
		class='container relative z-20 pb-28 pt-[240px] sm:pt-[280px] md:pb-32 md:pt-[250px] lg:pb-36 xl:pb-28 xl:pt-[400px] 2xl:pt-[500px]'>
		<div class='mx-auto text-center sm:w-2/3 2xl:w-1/2'>
			<h1 class='font-header text-4xl font-bold text-white lg:text-5xl xl:text-6xl 2xl:text-7xl'>
				Welcome to iRock school of music
			</h1>
			<p class='py-7 text-2xl/[30px] font-medium text-white md:py-8 xl:text-3xl'>
				Kickstart your child's musical journey
			</p>
			<div class='flex justify-center'>
				<a
					href='/'
					class='rounded-full bg-brand-electric-pink px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-light-blue hover:text-brand-dark-blue md:text-sm lg:px-10 lg:py-4'>
					Enrol Now
				</a>
			</div>
		</div>
	</div>
</div>
<div class='relative'>
	<img
		src='/img/bg-book-assembly.png'
		class='absolute inset-x-0 hidden h-[780px] w-full object-cover sm:-top-56 sm:block md:-top-72 md:h-[910px] lg:h-[950px] xl:-top-64 2xl:h-[1000px]'
		alt=''
	/>
	<img
		src='/img/bg-book-assembly-mobile.png'
		class='absolute inset-x-0 -top-24 block h-[655px] w-full object-fill sm:hidden'
		alt=''
	/>
	<div class='container relative z-20 pt-5 sm:pt-0 xl:pt-10 2xl:px-28'>
		<div class='mx-auto text-center xl:w-5/6'>
			<img
				src='/img/icon-hand-white.png'
				class='mx-auto h-14 md:h-16 xl:h-20'
				alt=''
			/>
			<p class='pt-8 font-medium text-white md:text-lg/[30px] lg:pt-10 lg:text-xl/[35px]'>
				In our 30-minute rock and pop band sessions for primary school children, we focus on teamwork, confidence, and
				social skills, boosting mental health encouraging a love for music. Led by expert musicians, with years of
				industry experience, these sessions inspire and empower young people.
			</p>
			<div class='relative flex flex-col items-center justify-center gap-5 pt-8 sm:flex-row lg:pt-10'>
				<img
					src='/img/icon-arrow-white.png'
					class='absolute bottom-8 right-5 h-16 rotate-90 -scale-y-[1] sm:-bottom-12 sm:left-[55%] sm:right-auto sm:-translate-x-[55%] sm:rotate-0 sm:scale-y-[1]'
					alt=''
				/>
				<span class='inline-block px-20 text-2xl font-medium text-white sm:px-0 lg:text-3xl'
					>Bring iRock to your school</span
				>
				<a
					href='/'
					class='rounded-full bg-white px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-brand-primary hover:bg-brand-dark-blue hover:text-white lg:px-10 lg:py-4'>
					Book an assembly
				</a>
			</div>
		</div>
	</div>
</div>
<div class='bg-white'>
	<div class='relative'>
		<div
			class='container relative z-10 px-0 pb-12 pt-40 sm:pt-48 md:pr-4 md:pt-52 lg:pb-52 lg:pt-56 2xl:px-28 2xl:pb-60 2xl:pt-72'>
			<div class='pl-5 lg:w-[48%] lg:bg-white lg:pr-12'>
				<img
					src='/img/icon-thumbs-up.png'
					class='h-16 md:h-20 xl:h-24'
					alt=''
				/>
				<h3
					class='pt-7 font-header text-4xl font-bold -tracking-[0.015px] text-brand-primary xl:pt-10 xl:text-5xl/[57px] 2xl:pr-12'>
					See what people are saying
				</h3>
				<p class='pt-6 font-medium md:text-lg/[30px] lg:pt-10 xl:pt-8 xl:text-xl/[35px]'>
					In our 30-minute rock and pop band sessions for primary school children, we focus on teamwork, confidence, and
					social skills, boosting mental health encouraging a love for music. Led by expert musicians, with years of
					industry experience, these sessions inspire and empower young people.
				</p>
			</div>
		</div>
		<div
			class='relative z-20 w-full lg:absolute lg:left-auto lg:right-7 lg:top-[67%] lg:w-[49%] lg:-translate-y-[67%] lg:px-0'>
			<section
				x-data={`
				{
					init() {
						new Splide('.splide', {
							type: 'slide',
							perPage: 3,
							perMove: 1,
							gap: 24,
							pagination: false,
							arrows: true,
							breakpoints: {
								1536: {
									perPage: 2,
								},
								1023: {
									padding: {
										right: 40,
										left: 50,
									},
									perPage: 2,
									pagination: true,
								},
								480: {
									padding: {
										left: 40,
										right: 30,
									},
									perPage: 1,
									pagination: true,
								},
							},
						}).mount();
					}
				}
			`}
				class='splide testimonials-slider w-full'>
				<div class='splide__track'>
					<ul class='splide__list'>
						<li class='splide__slide flex'>
							<div
								class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
								<div>
									<img
										src='/img/icon-quote-blue.png'
										class='mx-auto h-8 xl:h-10'
										alt=''
									/>
									<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
										iRock has had a great impact on our children. They love going to their band practice. We have
										several SEN children involved in the bands and they have been included well and some of them say it
										is their <b>favourite day at school</b>.
									</p>
									<p class='text-sm font-bold'>Music Lead (Cambridge)</p>
								</div>
							</div>
						</li>
						<li class='splide__slide flex'>
							<div
								class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
								<div>
									<img
										src='/img/icon-quote-blue.png'
										class='mx-auto h-8 xl:h-10'
										alt=''
									/>
									<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
										Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up
										natural rhythm.
									</p>
									<p class='text-sm font-bold'>Parent of Year 2 iRocker (Chawton)</p>
								</div>
							</div>
						</li>
						<li class='splide__slide flex'>
							<div
								class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
								<div>
									<img
										src='/img/icon-quote-blue.png'
										class='mx-auto h-8 xl:h-10'
										alt=''
									/>
									<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
										Our daughter's brilliant talent would not have been realised if it was not for the iRock programme,
										her confidence is unstoppable now!
									</p>
									<p class='text-sm font-bold'>Parent of Year 2 iRocker (West Midlands)</p>
								</div>
							</div>
						</li>
						<li class='splide__slide flex'>
							<div
								class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
								<div>
									<img
										src='/img/icon-quote-blue.png'
										class='mx-auto h-8 xl:h-10'
										alt=''
									/>
									<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
										iRock has had a great impact on our children. They love going to their band practice. We have
										several SEN children involved in the bands and they have been included well and some of them say it
										is their <b>favourite day at school</b>.
									</p>
									<p class='text-sm font-bold'>Music Lead (Cambridge)</p>
								</div>
							</div>
						</li>
						<li class='splide__slide flex'>
							<div
								class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
								<div>
									<img
										src='/img/icon-quote-blue.png'
										class='mx-auto h-8 xl:h-10'
										alt=''
									/>
									<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
										Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up
										natural rhythm.
									</p>
									<p class='text-sm font-bold'>Parent of Year 2 iRocker (Chawton)</p>
								</div>
							</div>
						</li>
						<li class='splide__slide flex'>
							<div
								class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
								<div>
									<img
										src='/img/icon-quote-blue.png'
										class='mx-auto h-8 xl:h-10'
										alt=''
									/>
									<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
										Our daughter's brilliant talent would not have been realised if it was not for the iRock programme,
										her confidence is unstoppable now!
									</p>
									<p class='text-sm font-bold'>Parent of Year 2 iRocker (West Midlands)</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class='splide__arrows splide__arrows--ltr z-20 hidden gap-2 pt-14 lg:flex'>
					<button
						class='splide__arrow--prev flex h-11 w-11 items-center justify-center rounded-full bg-brand-primary disabled:bg-brand-primary/30'>
						<svg
							class='mr-1 rotate-180'
							width='14'
							height='23'
							viewBox='0 0 14 23'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z'
								fill='white'
							></path>
						</svg>
					</button>
					<button
						class='splide__arrow--next flex h-11 w-11 items-center justify-center rounded-full bg-brand-primary disabled:bg-brand-primary/30'>
						<svg
							class='ml-1'
							width='14'
							height='23'
							viewBox='0 0 14 23'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'>
							<path
								d='M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z'
								fill='white'
							></path>
						</svg>
					</button>
				</div>
			</section>
		</div>
	</div>
	<div class='relative'>
		<div
			class='absolute inset-x-0 -top-14 hidden h-[1850px] w-full object-cover lg:block lg:h-[1650px] lg:object-fill 2xl:h-[1760px]'>
			<img
				src='/img/bg-unleash-potential.png'
				class='h-full'
				alt=''
			/>
		</div>
		<div
			class='absolute inset-x-0 -top-36 block h-[2250px] w-full object-cover sm:h-[2340px] md:-top-32 lg:-top-14 lg:hidden lg:object-fill'>
			<img
				src='/img/bg-unleash-potential-mobile.png'
				class='h-full w-full'
				alt=''
			/>
		</div>
		<div
			class='absolute inset-x-0 top-[2050px] z-10 w-full object-fill sm:top-[1920px] md:top-[2110px] lg:top-[1450px] 2xl:top-[1500px]'>
			<img
				src='/img/bg-learning-white.png'
				class='h-full'
				alt=''
			/>
		</div>
		<div class='container relative z-20 pb-24 pt-40 md:pt-48 lg:pt-32 xl:pb-32 xl:pt-40 2xl:px-28 2xl:pb-40 2xl:pt-48'>
			<div class='pb-8 text-center sm:pb-12 lg:pb-24'>
				<h3
					class='pb-6 font-header text-4xl font-bold -tracking-[0.015px] text-brand-primary lg:pb-10 xl:text-5xl/[57px]'>
					Unleash their full potential
				</h3>
				<p class='pb-10 font-medium md:text-lg/[30px] lg:text-xl/[35px]'>
					In our 30-minute rock and pop band sessions for primary school children, Every week, thousands of children
					receive a dedicated band session with one of our professional musicians. Playing a variety of instruments,
					each group of children learns to play instruments as part of a band, encouraging collaboration and working as
					a team, all whilst levelling up their musical ability and developing a love of music.
				</p>
				<ul
					class='mx-auto flex w-[90%] flex-wrap justify-start gap-x-8 gap-y-2 sm:w-full sm:justify-center lg:gap-x-12 lg:gap-y-3 xl:justify-start 2xl:w-[90%]'>
					<li class='flex gap-3 font-medium lg:text-xl/[35px]'>
						<img
							src='/img/icon-checkmark.png'
							class='h-7 lg:mt-1'
							alt=''
						/>
						<span class='block text-start'>No experience necessary</span>
					</li>
					<li class='flex gap-3 font-medium lg:text-xl/[35px]'>
						<img
							src='/img/icon-checkmark.png'
							class='h-7 lg:mt-1'
							alt=''
						/>
						<span class='block text-start'>Taught by expert Band Coaches</span>
					</li>
					<li class='flex gap-3 font-medium lg:text-xl/[35px]'>
						<img
							src='/img/icon-checkmark.png'
							class='h-7 lg:mt-1'
							alt=''
						/>
						<span class='block text-start'>All equipment and instruments provided</span>
					</li>
					<li class='flex gap-3 font-medium lg:text-xl/[35px]'>
						<img
							src='/img/icon-checkmark.png'
							class='h-7 lg:mt-1'
							alt=''
						/>
						<span class='block text-start'>From reception to year 6</span>
					</li>
					<li class='flex gap-3 font-medium lg:text-xl/[35px]'>
						<img
							src='/img/icon-checkmark.png'
							class='h-7 lg:mt-1'
							alt=''
						/>
						<span class='block text-start'>Broad range of rock and pop songs</span>
					</li>
					<li class='flex gap-3 font-medium lg:text-xl/[35px]'>
						<img
							src='/img/icon-checkmark.png'
							class='h-7 lg:mt-1'
							alt=''
						/>
						<span class='block text-start'>Exam-free qualification</span>
					</li>
				</ul>
			</div>
			<div class='space-y-36 pb-24 lg:space-y-28 xl:pb-28 2xl:space-y-36 2xl:pb-40'>
				<div class='flex flex-col gap-8 lg:flex-row lg:gap-10 xl:gap-14 2xl:gap-20'>
					<div class='lg:w-1/2'>
						<img
							src='img/creativity-image.png'
							class='w-full rounded-3xl'
							alt=''
						/>
					</div>
					<div class='lg:w-1/2 xl:pr-10'>
						<h4 class='pb-7 font-header text-3xl font-bold -tracking-[0.015px] xl:text-4xl'>
							Where creativity and confidence unlock a passion for music potential
						</h4>
						<div class='prose max-w-none pb-8 font-medium md:text-lg/[30px] lg:text-xl/[35px]'>
							<p>
								Children choose their own band name and learn a popular rock or pop song that has been expertly adapted
								to suit their age group. Throughout the iRock sessions, their <b
									>creativity and confidence are unleashed</b
								> whilst collaborating as a group, culminating in an unforgettable end-of-term performance.
							</p>
							<p>
								Children in Year 2, Year 4 and Year 6 are automatically enrolled to achieve an RSL award in Group
								Performance (Music). Available at three levels, this exam-free route to an additional qualification is
								assessed during iRock lessons. <b>In 2024, 99% of eligible children achieved their RSL award.</b>
							</p>
						</div>
						<div class='relative'>
							<img
								src='/img/icon-arrow-blue.png'
								class='absolute left-52 top-10 h-10 sm:left-56 sm:top-8 sm:h-14'
								alt=''
							/>
							<span class='block pb-5 font-bold sm:text-xl'>What can iRock offer your child? </span>
							<a
								href='/'
								class='inline-block rounded-full bg-brand-primary px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:py-4'>
								Find out more
							</a>
						</div>
					</div>
				</div>
				<div class='flex flex-col-reverse items-center gap-8 lg:flex-row lg:gap-10 xl:gap-14 2xl:gap-20'>
					<div class='text-center md:text-left lg:w-1/2'>
						<h4 class='pb-7 font-header text-3xl font-bold -tracking-[0.015px] xl:text-4xl'>
							Learn in a positive, stress-free environment
						</h4>
						<div class='prose max-w-none pb-8 font-medium md:text-lg/[30px] lg:text-xl/[35px]'>
							<p>
								At iRock School of Music, we emphasise teamwork, collaboration, and listening, while enhancing
								confidence, social skills, and positive mental health. Through teamwork and fostering an environment
								where children can take creative risks, they <b
									>grow more resilient and confident in performing and speaking</b
								>, all while developing a passion for music.
							</p>
							<p>
								The iRock programme has been designed to be totally inclusive for every child, regardless of their
								experience, ability, or learning style.
							</p>
						</div>
						<div class='relative mx-auto max-w-[340px] md:mx-0'>
							<img
								src='/img/icon-arrow-blue.png'
								class='absolute left-auto right-4 top-14 h-8 -rotate-[60deg] md:top-6 2xl:-left-10 2xl:h-10 2xl:rotate-[60deg] 2xl:-scale-x-[1]'
								alt=''
							/>
							<span class='block pb-5 font-bold sm:text-xl'>Bring iRock to your school </span>
							<a
								href='/'
								class='inline-block rounded-full bg-brand-primary px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:py-4'>
								Book an assembly
							</a>
						</div>
					</div>
					<div class='lg:w-1/2'>
						<img
							src='img/learning-image.png'
							class='w-full rounded-3xl'
							alt=''
						/>
					</div>
				</div>
			</div>
			<div class='mx-auto flex flex-col sm:flex-row md:gap-6 lg:gap-7 xl:w-4/5 2xl:w-3/4'>
				<div class='shrink-0'>
					<img
						src='/img/icon-doodle-quote.png'
						class='h-12 md:h-14 lg:h-16 2xl:h-20'
						alt=''
					/>
				</div>
				<div class='text-center sm:pt-6 md:pt-8'>
					<span class='block px-4 pb-5 font-header text-2xl font-bold sm:px-0 sm:pb-9 md:text-3xl'
						>Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up natural
						rhythm.</span
					>
					<p class='px-12 font-bold sm:px-8 md:text-[22px]'>Parent of Year 2 iRocker (Chawton)</p>
				</div>
				<div class='shrink-0 rotate-180 sm:mb-4'>
					<img
						src='/img/icon-doodle-quote.png'
						class='mt-auto block h-12 md:h-14 lg:h-16 2xl:h-20'
						alt=''
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='relative'>
	<img
		src='/img/bg-coaches.png'
		class='absolute inset-x-0 top-0 z-20 hidden h-[1320px] w-full object-fill sm:block md:h-[1250px] lg:h-[1150px] xl:h-[1300px]'
		alt=''
	/>
	<img
		src='/img/bg-coaches-mobile.png'
		class='absolute inset-x-0 top-0 z-20 block h-[1450px] w-full object-fill sm:hidden'
		alt=''
	/>
	<div class='container relative z-30 pt-14 sm:pt-16 lg:pt-24 xl:pt-32 2xl:px-28 2xl:pt-40'>
		<div class='flex flex-col gap-10 lg:flex-row lg:gap-16 2xl:gap-28'>
			<div class='hidden w-[45%] gap-6 lg:flex xl:gap-8 2xl:w-2/5'>
				<div class='space-y-8 xl:space-y-10'>
					<div>
						<img
							src='/img/coach-bertug.png'
							class='rounded-3xl'
							alt=''
						/>
						<div class='pt-5 text-center'>
							<span class='block text-xl font-bold text-white'>Bertug Saginc</span>
							<span class='block text-xl font-medium text-white'>Band Coach</span>
						</div>
					</div>
					<div>
						<img
							src='/img/coach-nick.png'
							class='rounded-3xl'
							alt=''
						/>
						<div class='pt-5 text-center'>
							<span class='block text-xl font-bold text-white'>Nick Clewlow</span>
							<span class='block text-xl font-medium text-white'>Band Coach</span>
						</div>
					</div>
				</div>
				<div class='space-y-8 pt-14 xl:space-y-10 xl:pt-20'>
					<div>
						<img
							src='/img/coach-hazel.png'
							class='rounded-3xl'
							alt=''
						/>
						<div class='pt-5 text-center'>
							<span class='block text-xl font-bold text-white'>Hazel Lawrie</span>
							<span class='block text-xl font-medium text-white'>Band Coach</span>
						</div>
					</div>
					<div>
						<img
							src='/img/coach-onarres.png'
							class='rounded-3xl'
							alt=''
						/>
						<div class='pt-5 text-center'>
							<span class='block text-xl font-bold text-white'>Onarres Serrano</span>
							<span class='block text-xl font-medium text-white'>Band Coach</span>
						</div>
					</div>
				</div>
			</div>
			<div class='block lg:hidden'>
				<h3 class='pb-12 text-center font-header text-4xl font-bold -tracking-[0.015px] text-white xl:text-5xl'>
					Meet some of our band coaches
				</h3>
				<div class='mx-auto sm:w-3/5 md:w-1/2'>
					<section
						x-data={`
						{
							init() {
								new Splide('.people-slider', {
									type: 'slide',
									perPage: 1,
									perMove: 1,
									gap: 24,
									pagination: true,
									arrows: true,
									breakpoints: {
									},
								}).mount();
							}
						}
					`}
						class='people-slider splide pb-10'>
						<div class='splide__track'>
							<ul class='splide__list'>
								<li class='splide__slide'>
									<img
										src='/img/coach-bertug.png'
										class='mx-auto w-full rounded-3xl'
										alt=''
									/>
									<div class='pt-5 text-center'>
										<span class='block font-bold text-white'>Bertug Saginc</span>
										<span class='block font-medium text-white'>Band Coach</span>
									</div>
								</li>
								<li class='splide__slide'>
									<img
										src='/img/coach-nick.png'
										class='mx-auto w-full rounded-3xl'
										alt=''
									/>
									<div class='pt-5 text-center'>
										<span class='block font-bold text-white'>Nick Clewlow</span>
										<span class='block font-medium text-white'>Band Coach</span>
									</div>
								</li>
								<li class='splide__slide'>
									<img
										src='/img/coach-hazel.png'
										class='mx-auto w-full rounded-3xl'
										alt=''
									/>
									<div class='pt-5 text-center'>
										<span class='block font-bold text-white'>Hazel Lawrie</span>
										<span class='block font-medium text-white'>Band Coach</span>
									</div>
								</li>
								<li class='splide__slide'>
									<img
										src='/img/coach-onarres.png'
										class='mx-auto w-full rounded-3xl'
										alt=''
									/>
									<div class='pt-5 text-center'>
										<span class='block font-bold text-white'>Onarres Serrano</span>
										<span class='block font-medium text-white'>Band Coach</span>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
			<div class='lg:w-1/2 xl:pt-8'>
				<h3
					class='hidden pb-10 font-header text-4xl font-bold -tracking-[0.015px] text-white lg:block xl:pb-12 xl:text-5xl 2xl:pb-14'>
					Meet some of our band coaches
				</h3>
				<div
					class='prose max-w-none pb-12 text-center text-white prose-p:font-medium lg:text-start lg:text-lg/[30px] xl:pb-16 xl:text-xl/[35px] 2xl:pb-20'>
					<p>
						All of our Band Coaches are passionate about <b
							>inspiring children and making them feel like real rockstars</b
						>. iRock is dedicated to building confidence and wellbeing in children through learning to play an
						instrument as part of a band.
					</p>
					<p>
						Our friendly and experienced Band Coaches are passionate about music. Many are gigging musicians who release
						their own music as part of a band or as a solo artist.
					</p>
				</div>
				<div
					class='rounded-2xl bg-white px-4 py-9 shadow-[0px_4px_5px_rgba(0,0,0,0.1)] sm:px-6 lg:px-8 lg:py-12 xl:px-12 xl:py-20'>
					<p class='pb-6 font-bold lg:pb-8 lg:text-lg xl:pb-10 xl:text-xl'>
						You can expect the following from our Band Coaches:
					</p>
					<ul class='space-y-3 pb-6 lg:space-y-5 lg:pb-8 xl:space-y-6'>
						<li class='flex gap-3 font-medium lg:text-lg xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark-dark.png'
								class='mt-1 h-7'
								alt=''
							/>
							<span>First-hand experience playing in bands</span>
						</li>
						<li class='flex gap-3 font-medium lg:text-lg xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark-dark.png'
								class='mt-1 h-7'
								alt=''
							/>
							<span>Ability to adapt songs to various musical levels</span>
						</li>
						<li class='flex gap-3 font-medium lg:text-lg xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark-dark.png'
								class='mt-1 h-7'
								alt=''
							/>
							<span>Enhanced DBS check and trained in safeguarding</span>
						</li>
						<li class='flex gap-3 font-medium lg:text-lg xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark-dark.png'
								class='mt-1 h-7'
								alt=''
							/>
							<span>A love and passion for music as well as helping children grow and succeed</span>
						</li>
						<li class='flex gap-3 font-medium lg:text-lg xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark-dark.png'
								class='mt-1 h-7'
								alt=''
							/>
							<span
								>A commitment to creating a positive experience for all children, regardless of their musical ability</span
							>
						</li>
					</ul>
					<div class='flex justify-center lg:justify-start'>
						<a
							href='/'
							class='inline-block rounded-full bg-brand-primary px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:py-4'>
							Join the team
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='relative'>
	<img
		src='/img/bg-get-in-touch.png'
		class='absolute inset-x-0 -top-[300px] z-10 hidden h-[1150px] w-full object-fill md:-top-64 md:block lg:-top-32 lg:h-[800px] 2xl:-top-40 2xl:h-[850px]'
		alt=''
	/>
	<img
		src='/img/bg-get-in-touch-mobile.png'
		class='absolute inset-x-0 -top-[300px] z-10 block h-[1250px] w-full object-fill object-bottom sm:h-[1150px] md:hidden'
		alt=''
	/>
	<div class='container relative z-20 pb-20 pt-20 md:pt-24 lg:pb-40 2xl:px-28'>
		<img
			src='/img/icon-microphone.png'
			class='absolute right-0 top-7 hidden lg:block 2xl:right-6 2xl:top-16'
			alt=''
		/>
		<div class='text-center'>
			<h3 class='pb-4 font-header text-4xl font-bold -tracking-[0.015px] text-brand-primary xl:pb-10 xl:text-5xl'>
				Get in touch
			</h3>
			<p class='text-xl font-medium'>Drop us a message and one of our friendly team will be in touch</p>
		</div>
		<form class='relative z-10 flex flex-col gap-3 pt-9 lg:flex-row lg:gap-6 xl:pt-6'>
			<div class='space-y-3 lg:w-1/2 lg:space-y-6'>
				<div>
					<span class='pb-3 text-sm font-bold'>Are you a Teacher/Parent or Guardian?*</span>
					<div class='flex flex-col gap-3 pt-3 sm:flex-row sm:gap-5'>
						<div>
							<input
								type='radio'
								id='teacher'
								name='teacher'
								class='peer hidden'
							/>
							<label
								for='teacher'
								class='inline-block cursor-pointer rounded-full border border-brand-light-blue bg-white px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-brand-primary transition-colors duration-150 ease-linear hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary peer-checked:border-white peer-checked:bg-brand-primary peer-checked:text-white'>
								teacher
							</label>
						</div>
						<div>
							<input
								type='radio'
								id='parent'
								name='parent'
								class='peer hidden'
							/>
							<label
								for='parent'
								class='inline-block cursor-pointer rounded-full border border-brand-light-blue bg-white px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-brand-primary transition-colors duration-150 ease-linear hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary peer-checked:border-white peer-checked:bg-brand-primary peer-checked:text-white'>
								Parent or Guardian
							</label>
						</div>
					</div>
				</div>
				<input
					type='text'
					name='name'
					id='name'
					placeholder='Name'
					class='w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
				/>
				<input
					type='email'
					name='Email'
					id='email'
					placeholder='Email'
					class='w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
				/>
			</div>
			<div class='lg:w-1/2 lg:pt-8'>
				<textarea
					name='message'
					id='message'
					placeholder='Message'
					class='block h-56 w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
				></textarea>
				<button
					class='mt-6 inline-block rounded-full bg-brand-primary px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:py-4'>
					Send Message
				</button>
			</div>
		</form>
	</div>
</div>
