---

---
<div class="relative">
	<img src="/img/home-hero-image.png" class="absolute top-0 inset-x-0 object-cover w-full h-full xl:h-[105%] object-[10%_50%] sm:object-[50%_50%]" alt="">
	<div class="absolute top-[100px] sm:top-[75px] xl:top-[250px] 2xl:top-[300px] w-[800px] sm:w-[900px] md:w-full xl:w-5/6 2xl:w-3/4 mx-auto left-1/2 -translate-x-1/2  h-full bg-[radial-gradient(46.29%_46.29%_at_50.03%_49.27%,rgba(0,0,0,0.8)_0%,rgba(0,0,0,0)_100%)]"></div>
	<div class="pt-[240px] sm:pt-[280px] md:pt-[250px] xl:pt-[400px] 2xl:pt-[500px] pb-28 md:pb-32 lg:pb-36 xl:pb-28 container relative z-20">
		<div class="sm:w-2/3 2xl:w-1/2 mx-auto text-center">
			<h1 class="text-white text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold font-header">Welcome to iRock school of music</h1>
			<p class="text-white font-medium text-2xl/[30px] xl:text-3xl py-7 md:py-8">Kickstart your child's musical journey </p>
			<div class="flex justify-center">
				<a href="/" class="bg-brand-electric-pink hover:bg-brand-light-blue rounded-full text-white hover:text-brand-dark-blue font-bold text-xs md:text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase">
					Enrol Now
				</a>
			</div>
		</div>
	</div>
</div>
<div class="relative ">
	<img src="/img/bg-book-assembly.png" class="hidden sm:block absolute inset-x-0 sm:-top-56 md:-top-72 xl:-top-64 object-cover w-full h-[780px] md:h-[910px] lg:h-[950px] 2xl:h-[1000px]" alt="">
	<img src="/img/bg-book-assembly-mobile.png" class="block sm:hidden absolute inset-x-0 -top-24 object-fill w-full h-[655px]" alt="">
	<div class="container relative z-20 pt-5 sm:pt-0 xl:pt-10 2xl:px-28">
		<div class="xl:w-5/6 mx-auto text-center">
			<img src="/img/icon-hand-white.png" class="mx-auto h-14 md:h-16 xl:h-20" alt="">
			<p class="text-white md:text-lg/[30px] lg:text-xl/[35px] font-medium pt-8 lg:pt-10">In our 30-minute rock and pop band sessions for primary school children, we focus on teamwork, confidence, and social skills, boosting mental health encouraging a love for music. Led by expert musicians, with years of industry experience, these sessions inspire and empower young people.
			</p>
			<div class="flex flex-col sm:flex-row justify-center gap-5 items-center relative pt-8 lg:pt-10">
				<img src="/img/icon-arrow-white.png" class="absolute sm:left-[55%] sm:-translate-x-[55%] right-5 sm:right-auto bottom-8 sm:-bottom-12 h-16 rotate-90 sm:rotate-0 -scale-y-[1] sm:scale-y-[1]" alt="">
				<span class="text-white text-2xl lg:text-3xl font-medium inline-block px-20 sm:px-0">Bring iRock to your school</span>
				<a href="/" class="bg-white hover:bg-brand-dark-blue rounded-full text-brand-primary hover:text-white font-bold text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase">
					Book an assembly
				</a>
			</div>
		</div>
	</div>
</div>
<div class="bg-white">
	<div class="relative">
		<div class="container pt-40 sm:pt-48 md:pt-52 lg:pt-56 2xl:pt-72 pb-12 lg:pb-52 2xl:pb-60 2xl:px-28 relative z-10">
			<div class="lg:w-[48%] lg:bg-white lg:pr-12">
				<img src="/img/icon-thumbs-up.png" class="h-16 md:h-20 xl:h-24" alt="">
				<h3 class="text-brand-primary text-4xl xl:text-5xl/[57px] font-bold -tracking-[0.015px] font-header pt-7 xl:pt-10 2xl:pr-12">See what people are saying</h3>
				<p class="md:text-lg/[30px] xl:text-xl/[35px] font-medium pt-6 xl:pt-8 lg:pt-10">In our 30-minute rock and pop band sessions for primary school children, we focus on teamwork, confidence, and social skills, boosting mental health encouraging a love for music. Led by expert musicians, with years of industry experience, these sessions inspire and empower young people.
				</p>
			</div>
		</div>
		<!-- slider mobile -->
		<div class="relative lg:absolute lg:top-[67%] lg:-translate-y-[67%] lg:left-auto lg:right-7 w-full lg:w-[49%] px-4 lg:px-0">
			<div class="grid sm:grid-cols-2 2xl:grid-cols-3 gap-6 w-full pl-5 sm:pl-0">
				<div class="border-2 border-brand-primary rounded-3xl px-5 xl:px-7 py-7 xl:py-10 text-center flex items-center bg-white shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<div>
						<img src="/img/icon-quote-blue.png" class="mx-auto h-8 xl:h-10" alt="">
						<p class="xl:text-xl pb-4 xl:pb-6 pt-5">iRock has had a great impact on our children.  They love going to their band practice. We have several SEN children involved in the bands and they have been included well and some of them say it is their <b>favourite day at school</b>. </p>
						<p class="text-sm font-bold">Music Lead (Cambridge)</p>
					</div>
				</div>
				<div class="hidden  border-2 border-brand-primary rounded-3xl px-5 xl:px-7 py-7 xl:py-10 text-center sm:flex items-center bg-white shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<div>
						<img src="/img/icon-quote-blue.png" class="mx-auto h-8 xl:h-10" alt="">
						<p class="xl:text-xl pb-4 xl:pb-6 pt-5">Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up natural rhythm.</p>
						<p class="text-sm font-bold"> Parent of Year 2 iRocker (Chawton)</p>
					</div>
				</div>
				<div class="hidden border-2 border-brand-primary rounded-3xl px-5 xl:px-7 py-7 xl:py-10 text-center 2xl:flex items-center bg-white shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<div>
						<img src="/img/icon-quote-blue.png" class="mx-auto h-8 xl:h-10" alt="">
						<p class="xl:text-xl pb-4 xl:pb-6 pt-5">Our daughter's brilliant talent would not have been realised if it was not for the iRock programme, her confidence is unstoppable now!</p>
						<p class="text-sm font-bold">Parent of Year 2 iRocker  (West Midlands)</p>
					</div>
				</div>
			</div>
			<div class="hidden lg:flex gap-2 pt-14">
				<div class="bg-brand-primary/30 w-11 h-11 rounded-full flex justify-center items-center">
					<svg class="rotate-180 mr-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
					</svg>
				</div>
				<div class="bg-brand-primary w-11 h-11 rounded-full flex justify-center items-center">
					<svg class="ml-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
					</svg>
				</div>
			</div>
			<div class="flex justify-center items-center gap-1 lg:hidden pt-9">
				<span class="border border-brand-primary bg-brand-primary p-1.5 rounded-full"></span>
				<span class="border border-brand-light-blue bg-white p-1.5 rounded-full"></span>
				<span class="border border-brand-light-blue bg-white p-1.5 rounded-full"></span>
				<span class="border border-brand-light-blue bg-white p-1.5 rounded-full"></span>
			</div>
		</div>
	</div>
	<div class="relative">
		<div class="hidden lg:block absolute w-full object-cover lg:object-fill -top-14 inset-x-0 h-[1850px] lg:h-[1650px] 2xl:h-[1760px]">
			<img src="/img/bg-unleash-potential.png" class="h-full" alt="">
		</div>
		<div class="block lg:hidden absolute w-full object-cover lg:object-fill -top-36 md:-top-32 lg:-top-14 inset-x-0 h-[2250px] sm:h-[2340px] ">
			<img src="/img/bg-unleash-potential-mobile.png" class="w-full h-full" alt="">
		</div>
		<div class="absolute w-full object-fill top-[2050px] sm:top-[1920px] md:top-[2110px] lg:top-[1450px] 2xl:top-[1500px] inset-x-0 z-10">
			<img src="/img/bg-learning-white.png" class="h-full" alt="">
		</div>
		<div class="container pt-40 md:pt-48 lg:pt-32 xl:pt-40 2xl:pt-48 2xl:px-28 pb-24 xl:pb-32 2xl:pb-40 relative z-20">
			<div class="pb-8 sm:pb-12 lg:pb-24 text-center">
				<h3 class="text-brand-primary text-4xl xl:text-5xl/[57px] font-bold -tracking-[0.015px] font-header pb-6 lg:pb-10">Unleash their full potential</h3>
				<p class="md:text-lg/[30px] lg:text-xl/[35px] font-medium pb-10">In our 30-minute rock and pop band sessions for primary school children, Every week, thousands of children receive a dedicated band session with one of our professional musicians. Playing a variety of instruments, each group of children learns to play instruments as part of a band, encouraging collaboration and working as a team, all whilst levelling up their musical ability and developing a love of music.
				</p>
				<ul class="2xl:w-[90%] mx-auto flex flex-wrap gap-y-2 lg:gap-y-3 gap-x-8 lg:gap-x-12 justify-start sm:justify-center xl:justify-start">
					<li class="flex gap-3 lg:text-xl/[35px] font-medium">
						<img src="/img/icon-checkmark.png" class="h-7 lg:mt-1" alt="">
						<span>No experience necessary</span>
					</li>
					<li class="flex gap-3 lg:text-xl/[35px] font-medium">
						<img src="/img/icon-checkmark.png" class="h-7 lg:mt-1" alt="">
						<span>Taught by expert Band Coaches</span>
					</li>
					<li class="flex gap-3 lg:text-xl/[35px] font-medium">
						<img src="/img/icon-checkmark.png" class="h-7 lg:mt-1" alt="">
						<span>All equipment and instruments provided</span>
					</li>
					<li class="flex gap-3 lg:text-xl/[35px] font-medium">
						<img src="/img/icon-checkmark.png" class="h-7 lg:mt-1" alt="">
						<span>From reception to year 6</span>
					</li>
					<li class="flex gap-3 lg:text-xl/[35px] font-medium">
						<img src="/img/icon-checkmark.png" class="h-7 lg:mt-1" alt="">
						<span>Broad range of rock and pop songs</span>
					</li>
					<li class="flex gap-3 lg:text-xl/[35px] font-medium">
						<img src="/img/icon-checkmark.png" class="h-7 lg:mt-1" alt="">
						<span>Exam-free qualification</span>
					</li>
				</ul>
			</div>
			<div class="space-y-36 lg:space-y-28 2xl:space-y-36 pb-24 xl:pb-28 2xl:pb-40">
				<div class="flex flex-col lg:flex-row gap-8 lg:gap-10 xl:gap-14 2xl:gap-20">
					<div class="lg:w-1/2">
						<img src="img/creativity-image.png" class="w-full rounded-3xl" alt="">
					</div>
					<div class="lg:w-1/2 xl:pr-10">
						<h4 class="text-3xl xl:text-4xl font-bold -tracking-[0.015px] font-header pb-7">Where creativity and confidence unlock a passion for music potential</h4>
						<div class="md:text-lg/[30px] lg:text-xl/[35px] font-medium prose max-w-none pb-8">
							<p>Children choose their own band name and learn a popular rock or pop song that has been expertly adapted to suit their age group. Throughout the iRock sessions, their <b>creativity and confidence are unleashed</b> whilst collaborating as a group, culminating in an unforgettable end-of-term performance.
							</p>
							<p>Children in Year 2, Year 4 and Year 6 are automatically enrolled to achieve an RSL award in Group Performance (Music). Available at three levels, this exam-free route to an additional qualification is assessed during iRock lessons. <b>In 2024, 99% of eligible children achieved their RSL award.</b>
							</p>
						</div>
						<div class="relative">
							<img src="/img/icon-arrow-blue.png" class="absolute h-12 sm:h-14 left-56 top-8" alt="">
							<span class="text-xl font-bold block pb-5">What can iRock offer your child? </span>
							<a href="/" class="inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
								Find out more
							</a>
						</div>
					</div>
				</div>
				<div class="flex flex-col-reverse lg:flex-row gap-8 lg:gap-10 xl:gap-14 2xl:gap-20 items-center">
					<div class="lg:w-1/2">
						<h4 class="text-3xl xl:text-4xl font-bold -tracking-[0.015px] font-header pb-7">Learn in a positive, stress-free environment</h4>
						<div class="md:text-lg/[30px] lg:text-xl/[35px] font-medium prose max-w-none pb-8">
							<p>At iRock School of Music, we emphasise teamwork, collaboration, and listening, while enhancing confidence, social skills, and positive mental health. Through teamwork and fostering an environment where children can take creative risks, they <b>grow more resilient and confident in performing and speaking</b>, all while developing a passion for music.
							</p>
							<p>The iRock programme has been designed to be totally inclusive for every child, regardless of their experience, ability, or learning style.</b>
							</p>
						</div>
						<div class="relative">
							<img src="/img/icon-arrow-blue.png" class="absolute h-8 2xl:h-10 left-60 2xl:-left-10 top-6 -rotate-[60deg] 2xl:rotate-[60deg] 2xl:-scale-x-[1]" alt="">
							<span class="text-xl font-bold block pb-5">Bring iRock to your school </span>
							<a href="/" class="inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
								Book an assembly
							</a>
						</div>
					</div>
					<div class="lg:w-1/2">
						<img src="img/learning-image.png" class="w-full rounded-3xl" alt="">
					</div>
				</div>
			</div>
			<div class="xl:w-4/5 2xl:w-3/4 mx-auto flex flex-col sm:flex-row md:gap-6 lg:gap-7">
				<div class="shrink-0">
					<img src="/img/icon-doodle-quote.png" class="h-12 md:h-14 lg:h-16 2xl:h-20"  alt="">
				</div>
				<div class="text-center sm:pt-6 md:pt-8">
					<span class="block pb-5 sm:pb-9 font-bold text-2xl md:text-3xl font-header px-4 sm:px-0">Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up natural rhythm.</span>
					<p class="font-bold md:text-[22px] px-12 sm:px-8">Parent of Year 2 iRocker (Chawton)</p>
				</div>
				<div class="rotate-180 sm:mb-4 shrink-0">
					<img src="/img/icon-doodle-quote.png" class="block mt-auto h-12 md:h-14 lg:h-16 2xl:h-20" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-coaches.png" class="hidden sm:block absolute top-0 inset-x-0 w-full z-20 h-[1320px] md:h-[1250px] lg:h-[1150px] xl:h-[1300px] object-fill" alt="">
	<img src="/img/bg-coaches-mobile.png" class="block sm:hidden absolute top-0 inset-x-0 w-full z-20 h-[1450px] object-fill" alt="">
	<div class="container relative z-30 pt-14 sm:pt-16 lg:pt-24 xl:pt-32 2xl:pt-40 2xl:px-28">
		<div class="flex flex-col lg:flex-row gap-10 lg:gap-16 2xl:gap-28">
			<div class="hidden w-[45%] 2xl:w-2/5 lg:flex gap-6 xl:gap-8">
				<div class="space-y-8 xl:space-y-10">
					<div>
						<img src="/img/coach-bertug.png" class=" rounded-3xl" alt="">
						<div class="text-center pt-5">
							<span class="block text-white font-bold text-xl">Bertug Saginc</span>
							<span class="block text-white font-medium text-xl">Band Coach</span>
						</div>
					</div>
					<div>
						<img src="/img/coach-nick.png" class=" rounded-3xl" alt="">
						<div class="text-center pt-5">
							<span class="block text-white font-bold text-xl">Nick Clewlow</span>
							<span class="block text-white font-medium text-xl">Band Coach</span>
						</div>
					</div>
				</div>
				<div class="space-y-8 xl:space-y-10 pt-14 xl:pt-20">
					<div>
						<img src="/img/coach-hazel.png" class=" rounded-3xl" alt="">
						<div class="text-center pt-5">
							<span class="block text-white font-bold text-xl">Hazel Lawrie</span>
							<span class="block text-white font-medium text-xl">Band Coach</span>
						</div>
					</div>
					<div>
						<img src="/img/coach-onarres.png" class=" rounded-3xl" alt="">
						<div class="text-center pt-5">
							<span class="block text-white font-bold text-xl">Onarres Serrano</span>
							<span class="block text-white font-medium text-xl">Band Coach</span>
						</div>
					</div>
				</div>
			</div>
			<!-- slider mobile -->
			<div class="block lg:hidden">
				<h3 class=" text-white text-center text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-12">Meet some of our band coaches</h3>
				<div class="sm:w-3/5 md:w-1/2 mx-auto">
					<img src="/img/coach-bertug.png" class="mx-auto rounded-3xl w-full" alt="">
					<div class="text-center pt-5">
						<span class="block text-white font-bold lg:text-xl">Bertug Saginc</span>
						<span class="block text-white font-medium lg:text-xl">Band Coach</span>
					</div>
				</div>
				<div class="flex justify-center items-center gap-1 pt-6">
					<span class="bg-white rounded-full border border-white w-2.5 h-2.5"></span>
					<span class="rounded-full border border-white w-2.5 h-2.5"></span>
					<span class="rounded-full border border-white w-2.5 h-2.5"></span>
					<span class="rounded-full border border-white w-2.5 h-2.5"></span>
				</div>
			</div>
			<div class="lg:w-1/2 xl:pt-8">
				<h3 class="hidden lg:block text-white text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-10 xl:pb-12 2xl:pb-14">Meet some of our band coaches</h3>
				<div class="text-center lg:text-start prose max-w-none text-white lg:text-lg/[30px] xl:text-xl/[35px] pb-12 xl:pb-16 2xl:pb-20 prose-p:font-medium">
					<p>All of our Band Coaches are passionate about <b>inspiring children and making them feel like real rockstars</b>. iRock is dedicated to building confidence and wellbeing in children through learning to play an instrument as part of a band.</p>
					<p>Our friendly and experienced Band Coaches are passionate about music. Many are gigging musicians who release their own music as part of a band or as a solo artist.</p>
				</div>
				<div class="bg-white rounded-2xl px-4 sm:px-6 lg:px-8 xl:px-12 py-9 lg:py-12 xl:py-20 shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<p class="lg:text-lg xl:text-xl font-bold pb-6 lg:pb-8 xl:pb-10">You can expect the following from our Band Coaches:</p>
					<ul class="space-y-3 lg:space-y-5 xl:space-y-6 pb-6 lg:pb-8">
						<li class="flex gap-3 lg:text-lg xl:text-xl/[35px] font-medium">
							<img src="/img/icon-checkmark-dark.png" class="h-7 mt-1" alt="">
							<span>First-hand experience playing in bands</span>
						</li>
						<li class="flex gap-3 lg:text-lg xl:text-xl/[35px] font-medium">
							<img src="/img/icon-checkmark-dark.png" class="h-7 mt-1" alt="">
							<span>Ability to adapt songs to various musical levels</span>
						</li>
						<li class="flex gap-3 lg:text-lg xl:text-xl/[35px] font-medium">
							<img src="/img/icon-checkmark-dark.png" class="h-7 mt-1" alt="">
							<span>Enhanced DBS check and trained in safeguarding</span>
						</li>
						<li class="flex gap-3 lg:text-lg xl:text-xl/[35px] font-medium">
							<img src="/img/icon-checkmark-dark.png" class="h-7 mt-1" alt="">
							<span>A love and passion for music as well as helping children grow and succeed</span>
						</li>
						<li class="flex gap-3 lg:text-lg xl:text-xl/[35px] font-medium">
							<img src="/img/icon-checkmark-dark.png" class="h-7 mt-1" alt="">
							<span>A commitment to creating a positive experience for all children, regardless of their musical ability</span>
						</li>
					</ul>
					<div class="flex justify-center lg:justify-start">
						<a href="/" class="inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
							Join the team
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-get-in-touch.png" class="hidden md:block absolute -top-[300px] md:-top-64 lg:-top-32 2xl:-top-40 inset-x-0 w-full z-10 object-fill h-[1150px] lg:h-[800px] 2xl:h-[850px]" alt="">
	<img src="/img/bg-get-in-touch-mobile.png" class="block md:hidden absolute -top-[300px] inset-x-0 w-full z-10 object-fill h-[1250px] sm:h-[1150px] object-bottom" alt="">
	<div class="container relative z-20 2xl:px-28 pb-20 lg:pb-40 pt-20 md:pt-24">
		<img src="/img/icon-microphone.png" class="hidden lg:block absolute right-0 2xl:right-6 top-7 2xl:top-16" alt="">
		<div class="text-center">
			<h3 class="text-brand-primary text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-4 xl:pb-10">Get in touch</h3>
			<p class="text-xl font-medium">Drop us a message and one of our friendly team will be in touch</p>
		</div>
		<form class="pt-9 xl:pt-6 flex flex-col lg:flex-row gap-3 lg:gap-6 relative z-10">
			<div class="lg:w-1/2 space-y-3 lg:space-y-6">
				<div>
					<span class="font-bold text-sm pb-3">Are you a Teacher/Parent or Guardian?*</span>
					<div class="flex flex-col sm:flex-row gap-3 sm:gap-5 pt-3">
						<div>
							<input type="radio" id="teacher" name="teacher" class="hidden peer" />
							<label for="teacher" class="inline-block uppercase text-sm font-bold text-brand-primary border border-brand-light-blue rounded-full px-6 py-3 bg-white cursor-pointer peer-checked:border-white peer-checked:text-white peer-checked:bg-brand-primary hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary transition-colors duration-150 ease-linear tracking-[0.2em]">
								teacher
							</label>
						</div>
						<div>
							<input type="radio" id="parent" name="parent" class="hidden peer"  />
							<label for="parent" class="inline-block uppercase text-sm font-bold text-brand-primary border border-brand-light-blue rounded-full px-6 py-3 bg-white cursor-pointer peer-checked:border-white peer-checked:text-white peer-checked:bg-brand-primary hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary transition-colors duration-150 ease-linear tracking-[0.2em]">
								Parent or Guardian
							</label>
						</div>
					</div>
				</div>
				<input type="text" name="name" id="name" placeholder="Name" class="font-medium w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4">
				<input type="email" name="Email" id="email" placeholder="Email" class="w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4 font-medium">
			</div>
			<div class="lg:w-1/2 lg:pt-8">
				<textarea name="message" id="message" placeholder="Message" class="font-medium w-full block sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4 h-56"></textarea>
				<button class="mt-6 inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
					Send Message
				</button>
			</div>
		</form>
	</div>
</div>