---

---
<div class="relative">
	<img src="/img/bg-parent-hero.png" class="rekative z-20 absolute top-0 inset-x-0 w-full h-[450px] sm:h-[600px] md:h-[700px] lg:h-[850px] object-cover object-[70%_50%]" alt="">
	<div class="container h-[450px] sm:h-[600px] md:md:h-[700px] lg:h-[850px]">
		<div class="relative w-[490px] sm:w-[600px] lg:w-[650px] xl:w-[750px] 2xl:w-[850px] pt-14 sm:pt-10 md:pt-20 lg:pt-44 2xl:pt-36 lg:pb-48 h-full">
			<img src="/img/icon-cloud-2.png" class="absolute -bottom-16 lg:bottom-auto top-auto lg:top-60 xl:top-56 2xl:top-52 -left-20 lg:left-0 z-20" alt="">
			<span class="text-brand-primary text-5xl xl:text-6xl 2xl:text-7xl font-header font-bold flex sm:pl-10 lg:pl-40 items-end lg:items-center relative z-30 h-full pb-3 sm:pb-8 lg:pb-36 2xl:pb-32">For Parents</span>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-band.png" class="hidden lg:block absolute object-fill inset-x-0 -top-28 lg:h-[1000px] xl:h-[1140px] 2xl:h-[1240px]" alt="">
	<img src="/img/bg-band-mobile.png" class="block lg:hidden w-full absolute object-fill inset-x-0 -top-32 h-[1100px] sm:h-[1170px] md:h-[1280px]" alt="">
	<div class="container 2xl:px-28 pt-32 lg:pt-16 2xl:pt-20 pb-28 lg:pb-32 2xl:pb-40 relative z-10">
		<div class="pb-6 sm:pb-8 lg:pb-10">
			<span class="font-bold text-sm uppercase tracking-[0.2em] md:tracking-[0.5em] block pb-3 lg:pb-8">Join a band</span>
			<h3 class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl font-header font-bold pb-4 sm:pb-6 lg:pb-8">Weekly In-School Rock and Pop Band Lessons</h3>
			<p class="font-medium lg:text-xl/[35px]">Our in-school rock and pop band lessons provide an amazing confidence boosting experience for children.</p>
		</div>
		<div class="flex flex-col lg:flex-row gap-6 sm:gap-10 xl:gap-14 2xl:gap-20 lg:items-center">
			<img src="/img/our-story-image.png" class="lg:w-[45%] xl:w-1/2" alt="">
			<div class="lg:w-[55%] xl:w-1/2">
				<h4 class="text-3xl xl:text-4xl font-header font-bold text-brand-primary">Enrol Today!</h4>
				<p class="font-medium lg:text-xl/[35px]">Search for your childs school and year group</p>
				<form class="pt-3 xl:pt-6">
					<input type="text" name="school name" id="school-name" placeholder="Enter School Name*" class="font-medium w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4">
					<button class="mt-4 xl:mt-5 inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
						Check availability
					</button>
					<a href="/" class="text-xl font-medium block pt-4 xl:pt-6">Already have an account? <span class="text-brand-electric-pink hover:text-brand-primary">Sign in</span> </a>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-information.png" class="hidden md:block absolute object-fill w-full bottom-0 md:h-[1340px] xl:h-[1400px]" alt="">
	<img src="/img/bg-information.png" class="block md:hidden absolute object-fill w-full bottom-0 h-[1300px] sm:h-[1150px]" alt="">
	<div class="container 2xl:px-28 relative z-20 pt-12 md:pt-16 lg:pt-24 xl:pt-32 2xl:pt-40">
		<h3 class="text-brand-primary text-4xl xl:text-5xl/[57px] font-bold -tracking-[0.015px] font-header pb-10">Informations for families</h3>
		<!-- slider mobile -->
		<div class="grid lg:grid-cols-2 gap-x-6 gap-y-12">
			<div class="p-5 md:p-8 xl:p-10 rounded-3xl shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] bg-white">
				<img src="/img/information-01.png" class="rounded-2xl w-full" alt="">
				<div class="pt-9">
					<span class="font-bold text-sm uppercase tracking-[0.2em] md:tracking-[0.5em] block pb-4">Inclusive & Attainable</span>
					<h4 class="text-3xl xl:text-4xl font-header font-bold pb-5 md:pb-4">No experience needed</h4>
					<p class="font-medium lg:text-xl/[35px] min-h-[200px] md:min-h-[245px]">The iRock programme is designed to be totally inclusive; children can join regardless of their musical experience or ability. All instruments are provided, providing an enriching opportunity that takes the pressure off families.</p>
				</div>
			</div>
			<div class="hidden lg:block p-5 md:p-8 xl:p-10 rounded-3xl shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] bg-white">
				<img src="/img/information-02.png" class="rounded-2xl w-full" alt="">
				<div class="pt-9">
					<span class="font-bold text-sm uppercase tracking-[0.5em] block pb-4">Weekly Rehearsals</span>
					<h4 class="text-3xl xl:text-4xl font-header font-bold pb-4">In-school band lessons</h4>
					<p class="font-medium text-xl/[35px] min-h-[245px]">Every week one of our expert band coaches will lead a 30 minute session that happens during the school day. Rehearsals are always fun, exciting a highlight of the school week. Through consistent band practice, the children develop real-life skills including collaboration, listening, patience, teamwork and initiative.</p>
				</div>
			</div>
			<div class="hidden lg:block p-5 md:p-8 xl:p-10 rounded-3xl shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] bg-white">
				<img src="/img/information-03.png" class="rounded-2xl w-full" alt="">
				<div class="pt-9">
					<span class="font-bold text-sm uppercase tracking-[0.5em] block pb-4">Be a part of a band</span>
					<h4 class="text-3xl xl:text-4xl font-header font-bold pb-4">No experience needed</h4>
					<p class="font-medium text-xl/[35px] min-h-[245px]">Give your child the pure joy of a jam session with friends. Being part of an iRock band means children learn to work together and improve their listening skills, whilst each having an important part to play. Children can choose if they want to be a drummer, an electric guitarist, a vocalist or a keyboard player. Together the children will select their song choices ads well as coming up with a unique band name.</p>
				</div>
			</div>
			<div class="hidden lg:block p-5 md:p-8 xl:p-10 rounded-3xl shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] bg-white">
				<img src="/img/information-04.png" class="rounded-2xl w-full" alt="">
				<div class="pt-9">
					<span class="font-bold text-sm uppercase tracking-[0.5em] block pb-4">Exam free qualification</span>
					<h4 class="text-3xl xl:text-4xl font-header font-bold pb-4">No experience needed</h4>
					<p class="font-medium text-xl/[35px] min-h-[245px]">Children in Year 2, 4 and 6 will be able to achieve an entry level qualification with iRock without the anxiety of a formal exam. RSL awards are internationally recognised and an asset to your child’s musical journey. In 2024, we saw a 99% pass rate across all RSL entrants.</p>
				</div>
			</div>
		</div>
		<div class="flex justify-center items-center gap-1 lg:hidden pt-9">
			<span class="border border-white bg-white p-1.5 rounded-full"></span>
			<span class="border border-white p-1.5 rounded-full"></span>
			<span class="border border-white p-1.5 rounded-full"></span>
			<span class="border border-white p-1.5 rounded-full"></span>
		</div>
	</div>
	<div class="container pt-20 md:pt-20 xl:pt-28 pb-16 md:pb-24 lg:pb-20 pr-0 lg:pr-4 2xl:px-28 relative z-10">
		<div class="flex flex-col md:flex-row gap-7 md:gap-10 lg:gap-14 xl:gap-24 pb-10 md:pb-12 xl:pb-16 mr-4">
			<div class="md:w-[45%]">
				<h3 class="font-header font-bold text-3xl xl:text-4xl text-white">In-school band lessons that are fun, creative and affordable</h3>
			</div>
			<div class="md:w-[55%]">
				<p class="lg:text-lg xl:text-xl/[35px] text-white font-medium">Our weekly 30-minute band sessions happen within the school day. We look after everything and even supply all of the instruments. It could not be easier. Band members are grouped by similar ages and year groups. Band sizes are capped at nine to ensure everyone receives the very best learning experience. We create an environment where every child can flourish.
				</p>
			</div>
		</div>
		<div class="overflow-auto relative mr-0 lg:mr-4">
			<div class="flex gap-3 sm:gap-4 xl:gap-6">
				<div class="bg-white border-2 border-[#19d78c] rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-face.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Ages</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-[#19d78c]"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Reception - Year 6
						<br/>
						(Depending on the school)
					</span>
				</div>
				<div class="bg-white border-2 border-brand-primary rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-calendar.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Dates</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-brand-primary"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Sep. 01 - Jul. 31
						<br/>
						Depending on school holidays)
					</span>
				</div>
				<div class="bg-white border-2 border-brand-electric-pink rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-schedule.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Schedule</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-brand-electric-pink"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Monday - Friday
						<br/>
						(Once a week, during lessons)
					</span>
				</div>
				<div class="bg-white border-2 border-brand-dark-blue rounded-3xl pt-9 pb-14 px-4 xl:px-8 text-center shrink-0 lg:flex-shrink w-3/4 sm:w-[45%] md:w-1/3 lg:w-1/4">
					<img src="/img/icon-people.png" class="mx-auto h-16 xl:h-20" alt="">
					<span class="block pt-4 xl:pt-6 font-bold text-xl">Band sizes</span>
					<span class="block mt-3.5 xl:mt-5 mx-auto rounded h-1 w-10 bg-brand-dark-blue"></span>
					<span class="block pt-3.5 xl:pt-5 font-bold text-sm">
						Up to 9 students per band
						<br/>
						(All similar year groups)
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-white">
	<div class="relative">
		<div class="container pt-16 md:pt-24 pb-12 lg:pb-52 2xl:pb-60 2xl:px-28 relative z-10">
			<div class="lg:w-[48%] lg:bg-white lg:pr-12">
				<img src="/img/icon-thumbs-up.png" class="h-16 md:h-20 xl:h-24" alt="">
				<h3 class="text-brand-primary text-4xl xl:text-5xl/[57px] font-bold -tracking-[0.015px] font-header pt-7 xl:pt-10 2xl:pr-12">See what people are saying</h3>
				<p class="md:text-lg/[30px] xl:text-xl/[35px] font-medium pt-6 xl:pt-8 lg:pt-10">In our 30-minute rock and pop band sessions for primary school children, we focus on teamwork, confidence, and social skills, boosting mental health encouraging a love for music. Led by expert musicians, with years of industry experience, these sessions inspire and empower young people.
				</p>
			</div>
		</div>
		<!-- slider mobile -->
		<div class="relative lg:absolute lg:top-[67%] lg:-translate-y-[67%] lg:left-auto lg:right-7 w-full lg:w-[49%] px-4 lg:px-0">
			<div class="grid sm:grid-cols-2 2xl:grid-cols-3 gap-6 w-full pl-5 sm:pl-0">
				<div class="border-2 border-brand-primary rounded-3xl px-5 xl:px-7 py-7 xl:py-10 text-center flex items-center bg-white shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<div>
						<img src="/img/icon-quote-blue.png" class="mx-auto h-8 xl:h-10" alt="">
						<p class="xl:text-xl pb-4 xl:pb-6 pt-5">iRock has had a great impact on our children.  They love going to their band practice. We have several SEN children involved in the bands and they have been included well and some of them say it is their <b>favourite day at school</b>. </p>
						<p class="text-sm font-bold">Music Lead (Cambridge)</p>
					</div>
				</div>
				<div class="hidden  border-2 border-brand-primary rounded-3xl px-5 xl:px-7 py-7 xl:py-10 text-center sm:flex items-center bg-white shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<div>
						<img src="/img/icon-quote-blue.png" class="mx-auto h-8 xl:h-10" alt="">
						<p class="xl:text-xl pb-4 xl:pb-6 pt-5">Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up natural rhythm.</p>
						<p class="text-sm font-bold"> Parent of Year 2 iRocker (Chawton)</p>
					</div>
				</div>
				<div class="hidden border-2 border-brand-primary rounded-3xl px-5 xl:px-7 py-7 xl:py-10 text-center 2xl:flex items-center bg-white shadow-[0px_4px_5px_rgba(0,0,0,0.1)]">
					<div>
						<img src="/img/icon-quote-blue.png" class="mx-auto h-8 xl:h-10" alt="">
						<p class="xl:text-xl pb-4 xl:pb-6 pt-5">Our daughter's brilliant talent would not have been realised if it was not for the iRock programme, her confidence is unstoppable now!</p>
						<p class="text-sm font-bold">Parent of Year 2 iRocker (West Midlands)</p>
					</div>
				</div>
			</div>
			<div class="hidden lg:flex gap-2 pt-14">
				<div class="bg-brand-primary/30 w-11 h-11 rounded-full flex justify-center items-center">
					<svg class="rotate-180 mr-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
					</svg>
				</div>
				<div class="bg-brand-primary w-11 h-11 rounded-full flex justify-center items-center">
					<svg class="ml-1" width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z" fill="white"/>
					</svg>
				</div>
			</div>
			<div class="flex justify-center items-center gap-1 lg:hidden pt-9">
				<span class="border border-brand-primary bg-brand-primary p-1.5 rounded-full"></span>
				<span class="border border-brand-light-blue bg-white p-1.5 rounded-full"></span>
				<span class="border border-brand-light-blue bg-white p-1.5 rounded-full"></span>
				<span class="border border-brand-light-blue bg-white p-1.5 rounded-full"></span>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-benefits.png" class="hidden md:block w-full object-fill absolute -bottom-16 inset-x-0 z-20 h-[800px] md:h-[600px] lg:h-[730px] xl:h-[800px]" alt="">
	<img src="/img/bg-benefits-mobile.png" class="block md:hidden w-full object-fill absolute -bottom-16 inset-x-0 z-20 h-[800px] md:h-[600px] lg:h-[730px] xl:h-[800px]" alt="">
	<div class="container 2xl:px-28 pb-3 md:pb-8 lg:pb-16 mt-16 md:mt-28 lg:mt-0 relative z-30">
		<div class="flex flex-col md:flex-row gap-10 lg:gap-16 items-center">
			<img src="img/benefit-image.png" class="sm:w-3/5 md:w-[45%] lg:w-1/2" alt="">
			<div class="md:w-[55%] lg:w-1/2 lg:pt-14 xl:pt-24">
				<h3 class="font-header font-bold text-3xl xl:text-4xl text-white pb-9">How children benefit from iRock</h3>
				<ul class="grid xl:grid-cols-2 gap-3 xl:gap-5 pb-6 lg:pb-8">
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Gives confidence</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Creates new friendships</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Boosts wellbeing</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Supports teamwork</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Improves memory</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Develops social skills</span>
					</li>
					<li class="flex gap-3 xl:text-xl/[35px] font-medium text-white">
						<img src="/img/icon-checkmark.png" class="h-7 xl:mt-1" alt="">
						<span>Develops academic progress</span>
					</li>
				</ul>
				<a href="/" class="inline-block bg-brand-electric-pink hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 lg:px-10 py-3 lg:py-4 uppercase">
					Enrol now
				</a>
			</div>
		</div>
	</div>
</div>
<div class="relative">
	<img src="/img/bg-get-in-touch.png" class="hidden md:block absolute top-0 inset-x-0 w-full z-10 object-fill h-[1150px] lg:h-[800px] 2xl:h-[850px]" alt="">
	<img src="/img/bg-get-in-touch-mobile.png" class="block md:hidden absolute -top-[300px] inset-x-0 w-full z-10 object-fill h-[1250px] sm:h-[1150px] object-bottom" alt="">
	<div class="container relative z-20 2xl:px-28 pb-20 lg:pb-40 pt-28 lg:pt-40">
		<img src="/img/icon-microphone.png" class="hidden lg:block absolute right-0 2xl:right-6 top-7 2xl:top-16" alt="">
		<div class="text-center">
			<h3 class="text-brand-primary text-4xl xl:text-5xl font-bold -tracking-[0.015px] font-header pb-4 xl:pb-10">Get in touch</h3>
			<p class="text-xl font-medium">Drop us a message and one of our friendly team will be in touch</p>
		</div>
		<form class="pt-9 xl:pt-6 flex flex-col lg:flex-row gap-3 lg:gap-6 relative z-10">
			<div class="lg:w-1/2 space-y-3 lg:space-y-6">
				<div>
					<span class="font-bold text-sm pb-3">Are you a Teacher/Parent or Guardian?*</span>
					<div class="flex flex-col sm:flex-row gap-3 sm:gap-5 pt-3">
						<div>
							<input type="radio" id="teacher" name="teacher" class="hidden peer" />
							<label for="teacher" class="inline-block uppercase text-sm font-bold text-brand-primary border border-brand-light-blue rounded-full px-6 py-3 bg-white cursor-pointer peer-checked:border-white peer-checked:text-white peer-checked:bg-brand-primary hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary transition-colors duration-150 ease-linear tracking-[0.2em]">
								teacher
							</label>
						</div>
						<div>
							<input type="radio" id="parent" name="parent" class="hidden peer"  />
							<label for="parent" class="inline-block uppercase text-sm font-bold text-brand-primary border border-brand-light-blue rounded-full px-6 py-3 bg-white cursor-pointer peer-checked:border-white peer-checked:text-white peer-checked:bg-brand-primary hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary transition-colors duration-150 ease-linear tracking-[0.2em]">
								Parent or Guardian
							</label>
						</div>
					</div>
				</div>
				<input type="text" name="name" id="name" placeholder="Name" class="font-medium w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4">
				<input type="email" name="Email" id="email" placeholder="Email" class="w-full sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4 font-medium">
			</div>
			<div class="lg:w-1/2 lg:pt-8">
				<textarea name="message" id="message" placeholder="Message" class="font-medium w-full block sm:text-xl placeholder-brand-primary border border-brand-light-blue rounded-[20px] px-5 py-4 h-56"></textarea>
				<button class="mt-6 inline-block bg-brand-primary hover:bg-brand-dark-blue rounded-full text-white font-bold text-xs md:text-sm tracking-[0.2em] px-6 py-3 lg:py-4 uppercase">
					Send Message
				</button>
			</div>
		</form>
	</div>
</div>