---

---

<div class='relative overflow-hidden'>
	<div class='relative'>
		<img
			src='/img/bg-parent-hero.png'
			class='absolute inset-x-0 top-0 z-20 h-[450px] w-full object-cover object-[70%_100%] sm:h-[600px] md:h-[700px] lg:h-[770px]'
			alt=''
		/>
		<div class='container h-[450px] sm:h-[600px] md:md:h-[700px] lg:h-[770px]'>
			<div
				class='relative h-full w-[490px] pt-14 sm:w-[600px] sm:pt-10 md:pt-20 lg:w-[650px] lg:pb-48 lg:pt-44 xl:w-[750px] 2xl:w-[850px] 2xl:pt-36'>
				<img
					src='/img/icon-cloud-2.png'
					class='absolute -bottom-16 -left-20 top-auto z-20 lg:bottom-auto lg:left-0 lg:top-60 xl:top-56 2xl:top-52'
					alt=''
				/>
				<span
					class='relative z-30 flex h-full items-end pb-3 font-header text-5xl font-bold text-brand-primary sm:pb-8 sm:pl-10 lg:items-center lg:pb-16 xl:pb-20 lg:pl-40 xl:text-6xl 2xl:pb-14 2xl:text-7xl'
					>For Parents</span
				>
			</div>
		</div>
	</div>
	<div class='relative'>
		<img
			src='/img/bg-band.png'
			class='absolute inset-x-0 -top-28 2xl:-top-28 [@media(min-width:2700px)]:-top-40 hidden object-fill lg:block lg:h-[1000px] xl:h-[1140px] 2xl:h-[1240px] [@media(min-width:2700px)]:h-[1350px] object-bottom w-full [@media(min-width:1921px)]:object-cover'
			alt=''
		/>
		<img
			src='/img/bg-band-mobile.png'
			class='absolute inset-x-0 -top-32 block h-[1100px] w-full object-fill sm:h-[1170px] md:h-[1280px] lg:hidden'
			alt=''
		/>
		<div class='container relative z-10 pb-28 pt-32 lg:pb-32 lg:pt-16 2xl:px-28 2xl:pb-40 2xl:pt-20'>
			<div class='pb-6 sm:pb-8 lg:pb-10'>
				<span class='block pb-3 text-sm font-bold uppercase tracking-[0.2em] md:tracking-[0.5em] lg:pb-8'
					>Join a band</span
				>
				<h3 class='pb-4 font-header text-4xl font-bold sm:pb-6 md:text-5xl lg:pb-8 xl:text-6xl 2xl:text-7xl'>
					Weekly In-School Rock and Pop Band Lessons
				</h3>
				<p class='font-medium lg:text-xl/[35px]'>
					Our in-school rock and pop band lessons provide an amazing confidence boosting experience for children.
				</p>
			</div>
			<div class='flex flex-col gap-6 sm:gap-10 lg:flex-row lg:items-center xl:gap-14 2xl:gap-20'>
				<img
					src='/img/our-story-image.png'
					class='lg:w-[45%] xl:w-1/2'
					alt=''
				/>
				<div class='lg:w-[55%] xl:w-1/2'>
					<h4 class='font-header text-3xl font-bold text-brand-primary xl:text-4xl'>Enrol Today!</h4>
					<p class='font-medium lg:text-xl/[35px]'>Search for your childs school and year group</p>
					<form class='pt-3 xl:pt-6'>
						<input
							type='text'
							name='school name'
							id='school-name'
							placeholder='Enter School Name*'
							class='w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
						/>
						<button
							class='mt-4 inline-block rounded-full bg-brand-primary px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:py-4 xl:mt-5'>
							Check availability
						</button>
						<a
							href='/login'
							class='block pt-4 text-xl font-medium xl:pt-6'
							>Already have an account? <span class='text-brand-electric-pink hover:text-brand-primary'>Sign in</span>
						</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class='relative'>
		<img
			src='/img/bg-information.png'
			class='absolute bottom-0 hidden w-full object-fill md:block md:h-[1340px] xl:h-[1400px]'
			alt=''
		/>
		<img
			src='/img/bg-information.png'
			class='absolute bottom-0 block h-[1300px] w-full object-fill sm:h-[1150px] md:hidden'
			alt=''
		/>
		<div class='container relative z-20 pt-12 md:pt-16 lg:pt-24 xl:pt-32 2xl:px-28 2xl:pt-40'>
			<h3 class='pb-10 font-header text-4xl font-bold -tracking-[0.015px] text-brand-primary xl:text-5xl/[57px]'>
				Information for families
			</h3>
			<div class='hidden gap-x-6 gap-y-12 lg:grid lg:grid-cols-2'>
				<div
					class='rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 xl:p-10'>
					<img
						src='/img/information-01.png'
						class='w-full rounded-2xl'
						alt=''
					/>
					<div class='pt-9'>
						<span class='block pb-4 text-sm font-bold uppercase tracking-[0.2em] md:tracking-[0.5em]'
							>Inclusive & Attainable</span
						>
						<h4 class='pb-5 font-header text-3xl font-bold md:pb-4 xl:text-4xl'>No experience needed</h4>
						<p class='min-h-[200px] font-medium md:min-h-[245px] lg:text-xl/[35px]'>
							The iRock programme is designed to be totally inclusive; children can join regardless of their musical
							experience or ability. All instruments are provided, providing an enriching opportunity that takes the
							pressure off families.
						</p>
					</div>
				</div>
				<div
					class='block rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 xl:p-10'>
					<img
						src='/img/information-02.png'
						class='w-full rounded-2xl'
						alt=''
					/>
					<div class='pt-9'>
						<span class='block pb-4 text-sm font-bold uppercase tracking-[0.5em]'>Weekly Rehearsals</span>
						<h4 class='pb-4 font-header text-3xl font-bold xl:text-4xl'>In-school band lessons</h4>
						<p class='min-h-[245px] text-xl/[35px] font-medium'>
							Every week one of our expert band coaches will lead a 30 minute session that happens during the school
							day. Rehearsals are always fun, exciting a highlight of the school week. Through consistent band practice,
							the children develop real-life skills including collaboration, listening, patience, teamwork and
							initiative.
						</p>
					</div>
				</div>
				<div
					class='block rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 xl:p-10'>
					<img
						src='/img/information-03.png'
						class='w-full rounded-2xl'
						alt=''
					/>
					<div class='pt-9'>
						<span class='block pb-4 text-sm font-bold uppercase tracking-[0.5em]'>Be a part of a band</span>
						<h4 class='pb-4 font-header text-3xl font-bold xl:text-4xl'>No experience needed</h4>
						<p class='min-h-[245px] text-xl/[35px] font-medium'>
							Give your child the pure joy of a jam session with friends. Being part of an iRock band means children
							learn to work together and improve their listening skills, whilst each having an important part to play.
							Children can choose if they want to be a drummer, an electric guitarist, a vocalist or a keyboard player.
							Together the children will select their song choices ads well as coming up with a unique band name.
						</p>
					</div>
				</div>
				<div
					class='block rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 xl:p-10'>
					<img
						src='/img/information-04.png'
						class='w-full rounded-2xl'
						alt=''
					/>
					<div class='pt-9'>
						<span class='block pb-4 text-sm font-bold uppercase tracking-[0.5em]'>Exam free qualification</span>
						<h4 class='pb-4 font-header text-3xl font-bold xl:text-4xl'>No experience needed</h4>
						<p class='min-h-[245px] text-xl/[35px] font-medium'>
							Children in Year 2, 4 and 6 will be able to achieve an entry level qualification with iRock without the
							anxiety of a formal exam. RSL awards are internationally recognised and an asset to your child’s musical
							journey. In 2024, we saw a 99% pass rate across all RSL entrants.
						</p>
					</div>
				</div>
			</div>
			<div class='block lg:hidden'>
				<section
					class='splide info-slider'
					x-data={`
						{
							init() {
								new Splide('.info-slider', {
									type: 'slide',
									perPage: 1,
									perMove: 1,
									gap: 20,
									pagination: true,
									arrows: false,
								}).mount();
							}
						}
					`}>
					<div class='splide__track'>
						<ul class='splide__list'>
							<li class='flex splide__slide p-4'>
								<div
									class='rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 xl:p-10'>
									<img
										src='/img/information-01.png'
										class='w-full rounded-2xl'
										alt=''
									/>
									<div class='pt-9'>
										<span class='block pb-4 text-sm font-bold uppercase tracking-[0.2em] md:tracking-[0.5em]'
											>Inclusive & Attainable</span
										>
										<h4 class='pb-5 font-header text-3xl font-bold md:pb-4 xl:text-4xl'>No experience needed</h4>
										<p class='min-h-[200px] font-medium md:min-h-[245px] lg:text-xl/[35px]'>
											The iRock programme is designed to be totally inclusive; children can join regardless of their
											musical experience or ability. All instruments are provided, providing an enriching opportunity
											that takes the pressure off families.
										</p>
									</div>
								</div>
							</li>
							<li class='flex splide__slide p-4'>
								<div
									class='rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 lg:block xl:p-10'>
									<img
										src='/img/information-02.png'
										class='w-full rounded-2xl'
										alt=''
									/>
									<div class='pt-9'>
										<span class='block pb-4 text-sm font-bold uppercase tracking-[0.5em]'>Weekly Rehearsals</span>
										<h4 class='pb-4 font-header text-3xl font-bold xl:text-4xl'>In-school band lessons</h4>
										<p class='min-h-[245px] text-xl/[35px] font-medium'>
											Every week one of our expert band coaches will lead a 30 minute session that happens during the
											school day. Rehearsals are always fun, exciting a highlight of the school week. Through consistent
											band practice, the children develop real-life skills including collaboration, listening, patience,
											teamwork and initiative.
										</p>
									</div>
								</div>
							</li>
							<li class='flex splide__slide p-4'>
								<div
									class='rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 lg:block xl:p-10'>
									<img
										src='/img/information-03.png'
										class='w-full rounded-2xl'
										alt=''
									/>
									<div class='pt-9'>
										<span class='block pb-4 text-sm font-bold uppercase tracking-[0.5em]'>Be a part of a band</span>
										<h4 class='pb-4 font-header text-3xl font-bold xl:text-4xl'>No experience needed</h4>
										<p class='min-h-[245px] text-xl/[35px] font-medium'>
											Give your child the pure joy of a jam session with friends. Being part of an iRock band means
											children learn to work together and improve their listening skills, whilst each having an
											important part to play. Children can choose if they want to be a drummer, an electric guitarist, a
											vocalist or a keyboard player. Together the children will select their song choices ads well as
											coming up with a unique band name.
										</p>
									</div>
								</div>
							</li>
							<li class='flex splide__slide p-4'>
								<div
									class='rounded-3xl bg-white p-5 shadow-[0px_4px_8px_3px_rgba(0,0,0,0.15),0px_1px_3px_rgba(0,0,0,0.3)] md:p-8 lg:block xl:p-10'>
									<img
										src='/img/information-04.png'
										class='w-full rounded-2xl'
										alt=''
									/>
									<div class='pt-9'>
										<span class='block pb-4 text-sm font-bold uppercase tracking-[0.5em]'>Exam free qualification</span>
										<h4 class='pb-4 font-header text-3xl font-bold xl:text-4xl'>No experience needed</h4>
										<p class='min-h-[245px] text-xl/[35px] font-medium'>
											Children in Year 2, 4 and 6 will be able to achieve an entry level qualification with iRock
											without the anxiety of a formal exam. RSL awards are internationally recognised and an asset to
											your child’s musical journey. In 2024, we saw a 99% pass rate across all RSL entrants.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
		<div class='container relative z-10 px-0 pb-16 pt-20 md:pb-24 md:pt-20 lg:pb-20 lg:pr-4 xl:pt-28 2xl:px-28'>
			<div class='mx-4 flex flex-col gap-7 pb-10 md:flex-row md:gap-10 md:pb-12 lg:gap-14 xl:gap-24 xl:pb-16'>
				<div class='md:w-[45%]'>
					<h3 class='font-header text-3xl font-bold text-white xl:text-4xl'>
						In-school band lessons that are fun, creative and affordable
					</h3>
				</div>
				<div class='md:w-[55%]'>
					<p class='font-medium text-white lg:text-lg xl:text-xl/[35px]'>
						Our weekly 30-minute band sessions happen within the school day. We look after everything and even supply
						all of the instruments. It could not be easier. Band members are grouped by similar ages and year groups.
						Band sizes are capped at nine to ensure everyone receives the very best learning experience. We create an
						environment where every child can flourish.
					</p>
				</div>
			</div>
			<div class='relative mr-0 overflow-auto lg:mr-4'>
				<div class='flex gap-3 sm:gap-4 xl:gap-6'>
					<div
						class='ml-4 w-3/4 shrink-0 rounded-3xl border-2 border-[#19d78c] bg-white px-4 pb-14 pt-9 text-center sm:w-[45%] md:w-1/3 lg:w-1/4 lg:flex-shrink xl:px-8'>
						<img
							src='/img/icon-face.png'
							class='mx-auto h-16 xl:h-20'
							alt=''
						/>
						<span class='block pt-4 text-xl font-bold xl:pt-6'>Ages</span>
						<span class='mx-auto mt-3.5 block h-1 w-10 rounded bg-[#19d78c] xl:mt-5'></span>
						<span class='block pt-3.5 text-sm font-bold xl:pt-5'>
							Reception - Year 6
							<br />
							(Depending on the school)
						</span>
					</div>
					<div
						class='w-3/4 shrink-0 rounded-3xl border-2 border-brand-primary bg-white px-4 pb-14 pt-9 text-center sm:w-[45%] md:w-1/3 lg:w-1/4 lg:flex-shrink xl:px-8'>
						<img
							src='/img/icon-calendar.png'
							class='mx-auto h-16 xl:h-20'
							alt=''
						/>
						<span class='block pt-4 text-xl font-bold xl:pt-6'>Dates</span>
						<span class='mx-auto mt-3.5 block h-1 w-10 rounded bg-brand-primary xl:mt-5'></span>
						<span class='block pt-3.5 text-sm font-bold xl:pt-5'>
							Sep. 01 - Jul. 31
							<br />
							Depending on school holidays)
						</span>
					</div>
					<div
						class='w-3/4 shrink-0 rounded-3xl border-2 border-brand-electric-pink bg-white px-4 pb-14 pt-9 text-center sm:w-[45%] md:w-1/3 lg:w-1/4 lg:flex-shrink xl:px-8'>
						<img
							src='/img/icon-schedule.png'
							class='mx-auto h-16 xl:h-20'
							alt=''
						/>
						<span class='block pt-4 text-xl font-bold xl:pt-6'>Schedule</span>
						<span class='mx-auto mt-3.5 block h-1 w-10 rounded bg-brand-electric-pink xl:mt-5'></span>
						<span class='block pt-3.5 text-sm font-bold xl:pt-5'>
							Monday - Friday
							<br />
							(Once a week, during lessons)
						</span>
					</div>
					<div
						class='w-3/4 shrink-0 rounded-3xl border-2 border-brand-dark-blue bg-white px-4 pb-14 pt-9 text-center sm:w-[45%] md:w-1/3 lg:w-1/4 lg:flex-shrink xl:px-8'>
						<img
							src='/img/icon-people.png'
							class='mx-auto h-16 xl:h-20'
							alt=''
						/>
						<span class='block pt-4 text-xl font-bold xl:pt-6'>Band sizes</span>
						<span class='mx-auto mt-3.5 block h-1 w-10 rounded bg-brand-dark-blue xl:mt-5'></span>
						<span class='block pt-3.5 text-sm font-bold xl:pt-5'>
							Up to 9 students per band
							<br />
							(All similar year groups)
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='bg-white'>
		<div class='relative'>
			<div class='container relative z-10 pb-12 pt-16 md:pt-24 lg:pb-52 2xl:px-28 2xl:pb-60'>
				<div class='lg:w-[48%] lg:bg-white lg:pl-0 lg:pr-12'>
					<img
						src='/img/icon-thumbs-up.png'
						class='h-16 md:h-20 xl:h-24'
						alt=''
					/>
					<h3
						class='pt-7 font-header text-4xl font-bold -tracking-[0.015px] text-brand-primary xl:pt-10 xl:text-5xl/[57px] 2xl:pr-12'>
						See what people are saying
					</h3>
					<p class='pt-6 font-medium md:text-lg/[30px] lg:pt-10 xl:pt-8 xl:text-xl/[35px]'>
						In our 30-minute rock and pop band sessions for primary school children, we focus on teamwork, confidence,
						and social skills, boosting mental health encouraging a love for music. Led by expert musicians, with years
						of industry experience, these sessions inspire and empower young people.
					</p>
				</div>
			</div>
			<div
				class='relative z-20 w-full lg:absolute lg:left-auto lg:right-7 lg:top-[67%] lg:w-[49%] lg:-translate-y-[67%] lg:px-0'>
				<section
					x-data={`
					{
						init() {
							new Splide('.testimonials-slider', {
								type: 'slide',
								perPage: 3,
								perMove: 1,
								gap: 24,
								pagination: false,
								arrows: true,
								breakpoints: {
									1536: {
										perPage: 2,
									},
									1023: {
										padding: {
											right: 40,
											left: 50,
										},
										perPage: 2,
										pagination: true,
									},
									480: {
										padding: {
											left: 40,
											right: 30,
										},
										perPage: 1,
										pagination: true,
									},
								},
							}).mount();
						}
					}
				`}
					class='splide testimonials-slider w-full'>
					<div class='splide__track'>
						<ul class='splide__list'>
							<li class='splide__slide flex'>
								<div
									class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
									<div>
										<img
											src='/img/icon-quote-blue.png'
											class='mx-auto h-8 xl:h-10'
											alt=''
										/>
										<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
											iRock has had a great impact on our children. They love going to their band practice. We have
											several SEN children involved in the bands and they have been included well and some of them say
											it is their <b>favourite day at school</b>.
										</p>
										<p class='text-sm font-bold'>Music Lead (Cambridge)</p>
									</div>
								</div>
							</li>
							<li class='splide__slide flex'>
								<div
									class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
									<div>
										<img
											src='/img/icon-quote-blue.png'
											class='mx-auto h-8 xl:h-10'
											alt=''
										/>
										<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
											Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up
											natural rhythm.
										</p>
										<p class='text-sm font-bold'>Parent of Year 2 iRocker (Chawton)</p>
									</div>
								</div>
							</li>
							<li class='splide__slide flex'>
								<div
									class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
									<div>
										<img
											src='/img/icon-quote-blue.png'
											class='mx-auto h-8 xl:h-10'
											alt=''
										/>
										<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
											Our daughter's brilliant talent would not have been realised if it was not for the iRock
											programme, her confidence is unstoppable now!
										</p>
										<p class='text-sm font-bold'>Parent of Year 2 iRocker (West Midlands)</p>
									</div>
								</div>
							</li>
							<li class='splide__slide flex'>
								<div
									class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
									<div>
										<img
											src='/img/icon-quote-blue.png'
											class='mx-auto h-8 xl:h-10'
											alt=''
										/>
										<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
											iRock has had a great impact on our children. They love going to their band practice. We have
											several SEN children involved in the bands and they have been included well and some of them say
											it is their <b>favourite day at school</b>.
										</p>
										<p class='text-sm font-bold'>Music Lead (Cambridge)</p>
									</div>
								</div>
							</li>
							<li class='splide__slide flex'>
								<div
									class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
									<div>
										<img
											src='/img/icon-quote-blue.png'
											class='mx-auto h-8 xl:h-10'
											alt=''
										/>
										<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
											Our son has absolutely loved his iRock sessions and we are amazed how quickly he has picked up
											natural rhythm.
										</p>
										<p class='text-sm font-bold'>Parent of Year 2 iRocker (Chawton)</p>
									</div>
								</div>
							</li>
							<li class='splide__slide flex'>
								<div
									class='flex items-center rounded-3xl border-2 border-brand-primary bg-white px-5 py-7 text-center shadow-[0px_4px_5px_rgba(0,0,0,0.1)] xl:px-7 xl:py-10'>
									<div>
										<img
											src='/img/icon-quote-blue.png'
											class='mx-auto h-8 xl:h-10'
											alt=''
										/>
										<p class='pb-4 pt-5 xl:pb-6 xl:text-xl'>
											Our daughter's brilliant talent would not have been realised if it was not for the iRock
											programme, her confidence is unstoppable now!
										</p>
										<p class='text-sm font-bold'>Parent of Year 2 iRocker (West Midlands)</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class='splide__arrows splide__arrows--ltr z-20 hidden gap-2 pt-14 lg:flex'>
						<button
							class='splide__arrow--prev flex h-11 w-11 items-center justify-center rounded-full bg-brand-primary disabled:bg-brand-primary/30'>
							<svg
								class='mr-1 rotate-180'
								width='14'
								height='23'
								viewBox='0 0 14 23'
								fill='none'
								xmlns='http://www.w3.org/2000/svg'>
								<path
									d='M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z'
									fill='white'
								></path>
							</svg>
						</button>
						<button
							class='splide__arrow--next flex h-11 w-11 items-center justify-center rounded-full bg-brand-primary disabled:bg-brand-primary/30'>
							<svg
								class='ml-1'
								width='14'
								height='23'
								viewBox='0 0 14 23'
								fill='none'
								xmlns='http://www.w3.org/2000/svg'>
								<path
									d='M8.625 11.25L0 2.625L2.625 0L13.875 11.25L2.625 22.5L0 19.875L8.625 11.25Z'
									fill='white'
								></path>
							</svg>
						</button>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class='relative'>
		<img
			src='/img/bg-benefits.png'
			class='absolute inset-x-0 -bottom-16 z-20 hidden h-[800px] w-full object-fill md:block md:h-[600px] lg:h-[730px] xl:h-[800px]'
			alt=''
		/>
		<img
			src='/img/bg-benefits-mobile.png'
			class='absolute inset-x-0 -bottom-16 z-20 block h-[800px] w-full object-fill md:hidden md:h-[600px] lg:h-[730px] xl:h-[800px]'
			alt=''
		/>
		<div class='container relative z-30 mt-16 pb-3 md:mt-28 md:pb-8 lg:mt-0 lg:pb-16 2xl:px-28'>
			<div class='flex flex-col items-center gap-10 md:flex-row lg:gap-16'>
				<img
					src='img/benefit-image.png'
					class='sm:w-3/5 md:w-[45%] lg:w-1/2'
					alt=''
				/>
				<div class='md:w-[55%] lg:w-1/2 lg:pt-14 xl:pt-24'>
					<h3 class='pb-9 font-header text-3xl font-bold text-white xl:text-4xl'>How children benefit from iRock</h3>
					<ul class='grid gap-3 pb-6 lg:pb-8 xl:grid-cols-2 xl:gap-5'>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Gives confidence</span>
						</li>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Creates new friendships</span>
						</li>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Boosts wellbeing</span>
						</li>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Supports teamwork</span>
						</li>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Improves memory</span>
						</li>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Develops social skills</span>
						</li>
						<li class='flex gap-3 font-medium text-white xl:text-xl/[35px]'>
							<img
								src='/img/icon-checkmark.png'
								class='h-7 xl:mt-1'
								alt=''
							/>
							<span>Develops academic progress</span>
						</li>
					</ul>
					<a
						href='/'
						class='inline-block rounded-full bg-brand-electric-pink px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:px-10 lg:py-4'>
						Enrol now
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class='relative'>
		<img
			src='/img/bg-get-in-touch.png'
			class='absolute inset-x-0 top-0 z-10 hidden h-[1150px] w-full object-fill md:block lg:h-[800px] 2xl:h-[850px]'
			alt=''
		/>
		<img
			src='/img/bg-get-in-touch-mobile.png'
			class='absolute inset-x-0 -top-[300px] z-10 block h-[1250px] w-full object-fill object-bottom sm:h-[1150px] md:hidden'
			alt=''
		/>
		<div class='container relative z-20 pb-20 pt-28 lg:pb-40 lg:pt-40 2xl:px-28'>
			<img
				src='/img/icon-microphone.png'
				class='absolute right-0 top-7 hidden lg:block 2xl:right-6 2xl:top-16'
				alt=''
			/>
			<div class='text-center'>
				<h3 class='pb-4 font-header text-4xl font-bold -tracking-[0.015px] text-brand-primary xl:pb-10 xl:text-5xl'>
					Get in touch
				</h3>
				<p class='text-xl font-medium'>Drop us a message and one of our friendly team will be in touch</p>
			</div>
			<form class='relative z-10 flex flex-col gap-3 pt-9 lg:flex-row lg:gap-6 xl:pt-6'>
				<div class='space-y-3 lg:w-1/2 lg:space-y-6'>
					<div>
						<span class='pb-3 text-sm font-bold'>Are you a Teacher/Parent or Guardian?*</span>
						<div class='flex flex-col gap-3 pt-3 sm:flex-row sm:gap-5'>
							<div>
								<input
									type='radio'
									id='teacher'
									name='teacher'
									class='peer hidden'
								/>
								<label
									for='teacher'
									class='inline-block cursor-pointer rounded-full border border-brand-light-blue bg-white px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-brand-primary transition-colors duration-150 ease-linear hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary peer-checked:border-white peer-checked:bg-brand-primary peer-checked:text-white'>
									teacher
								</label>
							</div>
							<div>
								<input
									type='radio'
									id='parent'
									name='parent'
									class='peer hidden'
								/>
								<label
									for='parent'
									class='inline-block cursor-pointer rounded-full border border-brand-light-blue bg-white px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-brand-primary transition-colors duration-150 ease-linear hover:border-brand-primary hover:bg-brand-light-blue hover:text-brand-primary peer-checked:border-white peer-checked:bg-brand-primary peer-checked:text-white'>
									Parent or Guardian
								</label>
							</div>
						</div>
					</div>
					<input
						type='text'
						name='name'
						id='name'
						placeholder='Name'
						class='w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
					/>
					<input
						type='email'
						name='Email'
						id='email'
						placeholder='Email'
						class='w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
					/>
				</div>
				<div class='lg:w-1/2 lg:pt-8'>
					<textarea
						name='message'
						id='message'
						placeholder='Message'
						class='block h-56 w-full rounded-[20px] border border-brand-light-blue px-5 py-4 font-medium placeholder-brand-primary sm:text-xl'
					></textarea>
					<button
						class='mt-6 inline-block rounded-full bg-brand-primary px-6 py-3 text-xs font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue md:text-sm lg:py-4'>
						Send Message
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
