<div
	x-data={`
	{
		isMobileMenuOpen: false,
		toggleMobileMenu() {
			document.documentElement.classList.toggle('overflow-hidden');
			this.isMobileMenuOpen = !this.isMobileMenuOpen;
		}
	}
`}>
	<div class='bg-brand-primary'>
		<div class='container py-7 2xl:px-28'>
			<div class='flex items-center justify-between gap-12'>
				<a
					href='/'
					class='shrink-0'>
					<img
						src='/img/logo-white.png'
						class='h-10 lg:h-14'
						alt=''
					/>
				</a>
				<div class='hidden items-center gap-10 pt-1 xl:flex xl:pt-0 2xl:gap-12'>
					<ul class='flex flex-wrap items-center gap-x-9 gap-y-2 xl:gap-x-12'>
						<li class='group'>
							<a
								href='/about'
								class='pt-1.5 font-bold uppercase tracking-[0.10em] text-white'>
								About Us
								<span class='mx-auto block h-1 w-10 rounded-full bg-transparent group-hover:bg-brand-light-blue'></span>
							</a>
						</li>
						<li class='group'>
							<a
								href='/schools-info'
								class='pt-1.5 font-bold uppercase tracking-[0.10em] text-white'>
								For Schools
								<span class='mx-auto block h-1 w-10 rounded-full bg-transparent group-hover:bg-brand-light-blue'></span>
							</a>
						</li>
						<li class='group'>
							<a
								href='/parents-info'
								class='pt-1.5 font-bold uppercase tracking-[0.10em] text-white'>
								For Parents
								<span class='mx-auto block h-1 w-10 rounded-full bg-transparent group-hover:bg-brand-light-blue'></span>
							</a>
						</li>
						<li class='group'>
							<a
								href='/careers'
								class='pt-1.5 font-bold uppercase tracking-[0.10em] text-white'>
								Work with us
								<span class='mx-auto block h-1 w-10 rounded-full bg-transparent group-hover:bg-brand-light-blue'></span>
							</a>
						</li>
					</ul>
					<div class='flex shrink-0 gap-4'>
						<a
							href='/login'
							class='rounded-full bg-white px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-brand-primary hover:bg-brand-dark-blue hover:text-white'>
							iRocker Sign-in
						</a>
						<a
							href='/enrol'
							class='rounded-full bg-brand-electric-pink px-6 py-3 text-sm font-bold uppercase tracking-[0.2em] text-white hover:bg-brand-dark-blue'>
							Enrol Now
						</a>
					</div>
				</div>
				<button
					type='button'
					@click='toggleMobileMenu'
					class='block xl:hidden'>
					<svg
						width='24'
						height='20'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><rect
							width='24'
							height='3'
							rx='1.5'
							fill='#fff'
						></rect><rect
							y='8'
							width='24'
							height='3'
							rx='1.5'
							fill='#fff'
						></rect><rect
							y='16'
							width='24'
							height='3'
							rx='1.5'
							fill='#fff'
						></rect></svg
					>
				</button>
			</div>
		</div>
	</div>

	<div
		:class="{
		'pointer-events-auto opacity-100': isMobileMenuOpen,
		'pointer-events-none opacity-0': !isMobileMenuOpen,
		}"
		class='pointer-events-none absolute inset-x-0 top-0 z-50 h-screen w-full bg-gradient-to-br from-white via-[#bdd4fe] to-[#bdd4fe] opacity-0 transition-opacity duration-200'>
		<div class='container'>
			<button
				type='button'
				@click='toggleMobileMenu'
				class='ml-auto flex justify-end pt-14'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					class='size-10'>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M6 18 18 6M6 6l12 12'
					></path>
				</svg>
			</button>
			<ul class='flex flex-col items-center justify-center gap-3 pb-7 pt-16'>
				<li>
					<a
						href='/'
						class='font-bold text-brand-dark-blue'>
						Home
						<span class='block rounded-full border-b-4 border-[#ffdd94]'></span>
					</a>
				</li>
				<li>
					<a
						href='/about'
						class='font-bold text-brand-dark-blue'>
						About
					</a>
				</li>
				<li>
					<a
						href='/schools-info'
						class='font-bold text-brand-dark-blue'>
						School info
					</a>
				</li>
				<li>
					<a
						href='/parents-info'
						class='font-bold text-brand-dark-blue'>
						Parent info
					</a>
				</li>
				<li>
					<a
						href='/careers'
						class='font-bold text-brand-dark-blue'>
						Work with us
					</a>
				</li>
				<li>
					<a
						href='/schools-info'
						class='font-bold text-brand-dark-blue'>
						Book assembly
					</a>
				</li>
				<li>
					<a
						href='/contact'
						class='font-bold text-brand-dark-blue'>
						Contact
					</a>
				</li>
			</ul>
			<div
				class='inline-flex w-full shrink-0 flex-col items-center justify-center gap-4 border-t border-[#a5b7dc] pt-7'>
				<a
					href='/account'
					class='rounded-full bg-brand-primary px-6 py-3 text-sm font-bold text-white'>
					My account
				</a>
				<a
					href='/'
					class='rounded-full bg-[#fd434c] px-6 py-3 text-sm font-bold text-white'>
					Log out
				</a>
			</div>
		</div>
	</div>
</div>
